<template>
  <div v-bind="basketCom">
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content text-center">

          </div>
        </div>
      </div>
    </section>
    <section class="cart_area">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table" v-if="basket">
              <thead>
              <tr>
                <th scope="col">Ürün</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Adet</th>
                <th scope="col">Tutar</th>
              </tr>
              </thead>
              <tbody>

              <tr v-for="basketItem in basket" v-bind:key="basketItem[0].cart_item_id">
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img :src="cdnUrl+basketItem[0].stocks.product.cover.image">
                    </div>
                    <div class="media-body">
                      <p>{{basketItem[0].stocks.product.title.tr}}</p>
                      <span class="cart-remove" @click="removeCart(basketItem[0].cart_item_id)">Sepetten Çıkar</span>
                    </div>
                  </div>
                </td>
                <td>
                  <h5 class="float-left" v-text="( basketItem[0].stocks.has_discount === 'y' ? basketItem[0].stocks.discount_price : basketItem[0].stocks.price) +' ₺'"></h5>
                  <h5 class="float-left ml-3" v-if="basketItem[0].stocks.has_discount === 'y'" > <del>{{basketItem[0].stocks.price}} ₺</del></h5>
                </td>
                <td>
                  <div class="product_count">
                    <label for="qty">Adet:</label>
                    <input type="text" name="qty" id="sst" maxlength="12" :value="basketItem[0].quantity" title="Quantity:" class="input-text qty">
                    <button @click="qty('inc', basketItem[0])" class="increase items-count" type="button">
                      <i class="fa fa-chevron-up"></i></button>
                    <button @click="qty('dec', basketItem[0])" class="reduced items-count" type="button"><i class="fa fa-chevron-down"></i></button>
                  </div>
                </td>
                <td>
                  <h5>{{basketItem[0].total_price}} ₺</h5>
                </td>
              </tr>
              <tr>
                <td>

                </td>
                <td>

                </td>
                <td>
                  <h5>Toplam Tutar</h5>
                </td>
                <td>
                  <h5>{{ sumTotalPrice()}} ₺</h5>
                </td>
              </tr>
              <tr class="out_button_area">
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                  <div class="checkout_btn_inner">
                    <button class="main_btn float-right" to="address" @click="completeCart()">Alışverişi Tamamla</button>
                    <nuxt-link class="gray_btn float-right" to="/">Alışverişe Devam</nuxt-link>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <modal width="300" height="auto" name="login-popup" >
      <section class="login_box_area">
        <div class="container">
          <div class="row">
              <div class="login_form_inner" style="padding-top: 10px">
                <div class="text-danger" v-text="error"></div>
                <div class="row login_form" id="contactForm" style="padding-top: 10px">
                  <div class="col-md-12 form-group">
                    <social-login></social-login>
                  </div>
                  <div class="text-danger" v-text="passwordError"></div>
                  <div class="col-md-12 form-group">
                    <input type="email" class="form-control" id="email" name="email" v-model="email" placeholder="E-mail Adresiniz">
                    <div class="text-danger" v-text="emailError"></div>
                  </div>
                  <div class="col-md-12 form-group">
                    <input type="password" class="form-control" id="password" name="password" v-model="password" placeholder="Şifreniz">
                    <div class="text-danger" v-text="passwordError"></div>
                  </div>
                  <div class="col-md-12 form-group">
                    <button class="btn submit_btn" @click="login()">Giriş</button>
                    <nuxt-link class="btn submit_btn" to="/registration">Kayıt Ol</nuxt-link>
                    <button class="btn submit_btn" @click="nonLogin()">Üyeliksiz Devam Et</button>
                    <!--<button class="btn btn_facebook">Facebook ile Giriş Yap</button>-->
                    <nuxt-link to="/">Şifremi unuttum</nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </section>
    </modal>
  </div>

</template>

<script>
  import {mapState} from 'vuex'
  import Vue from 'vue'
  import SocialLogin from '@/components/common/SocialLogin'

  export default {
    components:{
      SocialLogin
    },
    data(){
      return {
        cdnUrl : process.env.cdn_url+'images/product/',
        cart : [],
        basket : [],
        passwordError: null,
        password: null,
        email: null,
        emailError: null,
        error: null,
        params: {
          client_id: '531604362349-j3c922pkd5ir81u7bm461b464i9im5i5.apps.googleusercontent.com'
        },
        // only needed if you want to render the button with the google ui
        renderParams: {
          longtitle: 'GOOGLE'
        }
      }
    },

    computed:{
      ...mapState('state_definition',{
        basketCom : function (state) {
          let _this = this;
          this.setCartPromise(state).then((response)=>{

            if(!process.server){

              let cart = Vue._.cloneDeep(_this.cart);

              if(cart && cart.length !== 0 && cart.cartItems !== undefined){

                let itemBasket =  cart.cartItems.reduce((a, b) => {
                  (a[b['id']] = a[b['id']] || []).push(
                          {
                            'stocks'   :b.stocks,
                            'stock_id' :b.stock_id,
                            'quantity' :b.quantity,
                            'cart_id'  :b.cart_id,
                            'total_price':b.total_price,
                            'cart_item_id' :b.id
                          }
                  );
                  return a ;
                },[]);

                itemBasket = itemBasket.filter(item =>{
                  return item !== null;
                })

                _this.basket =  itemBasket;
              }

            }
          })
        },
      }),

    },
    methods:{

      sumTotalPrice(){

        let total = 0;
        this.basket.forEach(item =>{
          total = total + item[0].total_price;
        })
        return total;
      },

      qty(q, stock){
        let quantity = q === 'inc' ? stock.quantity + 1 :  (stock.quantity > 1 ? stock.quantity -1 : 1);

        this.$store.dispatch('state_definition/addCart',{stock_id: stock.stock_id, quantity: quantity}).then((response)=>{

          if(response.code === 200){
            this.$toast.success('Sepet Güncellendi');
            stock.quantity = quantity
          }else{
            this.$toast.error(response.message);
          }
        });
      },

      len:  (array) => {
        return array !== undefined ? array.length : 0;
      },

      setCartPromise(state){
        let _this = this;
        return new Promise((resolve, reject) => {
          _this.cart = state.cart;
          resolve(_this.cart);
        });
      },

      removeCart(cart_item_id){this.$toast.success('Ürün Siliniyor...');
        let _this = this;
        this.$store.dispatch('state_definition/removeCartItem',{cart_item_id})
                .then((response)=>{
                  this.$toast.success('Ürün Silindi...');
                })
                .catch((error)=>{
                  this.$toast.error('Bir sorun oluştu...');
                });
      },

      completeCart(){
        let token = localStorage.getItem('token');

        if (this.cart === null){
          this.$toast.error('Henüz sepetinize ürün eklemediniz...');
          return;
        }

        if(token){
          this.$router.push({path:'/address'})
        }else{
          this.$modal.show('login-popup');
        }
      },

      login(){
        this.emailError = this.email === null ? 'Lütfen bir E-mail adresi giriniz.' : null;

        this.passwordError = this.password === null ? 'Lütfen şifrenizi giriniz.' : null;

        if(this.emailError || this.passwordError)
          return;

        this.$store.dispatch('state_auth/login',{email:this.email, password:this.password})
                .then(response =>{
                  this.$modal.show('login-popup');
                  location.reload();
                })
                .catch(error =>{
                  this.error = error.message;
                });
      },

      nonLogin(){
        this.$router.push({path:'/guest-address'})
      },
      closeModal(){
        this.$modal.hide('register-modal');
      },

    },

    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }
  }
</script>

<style>
  .abcRioButtonIcon {
    margin-left: 0;
  }
</style>
