<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                    </div>
                </div>
            </div>
        </section>
        <section class="order_details p_120" v-if="loading">
            <div class="container">

                <h3 class="title_confirmation"><img src="~/assets/img/logo.png" alt="MarkaXD Logo" width="300"></h3>
                <h3 class="title_confirmation"><b>Siparişiniz oluşturuldu.</b> <br>Bizi seçtiğiniz için Teşekkür ederiz.</h3>
                <div class="row order_d_inner">
                    <div class="col-lg-6">
                        <div class="details_item">
                            <h4>Sipariş Bilgisi</h4>
                            <ul class="list">
                                <li><a href="#"><span>Sipariş Numarası</span> : {{orderNumber}}</a></li>
                                <li><a href="#"><span>Tarih</span> : {{date}}</a></li>
                                <li><a href="#"><span>Toplam Ücret</span> : {{total_price}} ₺</a></li>
                                <li><a href="#"><span>Ödeme Yöntemi</span> : {{payment_type === 'moneyTransfer' ? 'Havale' : payment_type === 'moneyTransfer' ? 'Kapıda Ödeme'  : 'Kredi Kartı'}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details_item">
                            <h4>Teslimat Adresi</h4>
                            <ul class="list">
                                <li><a href="#"><span>Teslim Alacak Kişi</span> : {{address ? address['first_name']+' '+address['last_name'] : '' }}</a></li>
                                <li><a href="#"><span>Teslimat Adresi</span> : {{ address ?  address['address_detail'] : ''}}</a></li>
                                <li><a href="#"><span>E-Posta</span> : {{address ?  address['email'] : ''}}</a></li>
                                <li><a href="#"><span>Telefon </span> : +{{address ? address['phone_number'] : ''}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="order_details p_120" v-else>
            <h3 class="title_confirmation"><img src="~/assets/img/logo.png" alt="MarkaXD Logo" width="300"></h3>

            <div style="width: 124px; height: 124px; margin: 0 auto">
                <div class="lds-ripple">
                    <div></div><div></div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
  import Summary from "@/components/common/Summary"
  import axios from 'axios'
  export default {

    data(){
      return{
        address : null,
        orderNumber : null,
        total_price : null,
        payment_type : null,
        date : null,
        loading : false
      }
    },
    created(){

      if(process.client){


        let orderNumber = this.$route.params.id;

        this.$store.dispatch('state_definition/paymentDetail', {id:orderNumber})
          .then(response => {
            let cart = localStorage.getItem('cart');
            if (cart !== null) {
              localStorage.removeItem('cart');
              localStorage.removeItem('address');
              window.location.reload();
            }

            if(response.code !== 200){
              this.$toast.error('Geçersiz Sipariş');
              this.$router.push({path:'/cart'});
            }

            this.loading = true;
            let res = response.result.set;

            this.address = JSON.parse(res.address_information);
            this.orderNumber = res.order_number;
            this.total_price = res.total_price;
            this.payment_type = res.payment_type;
            this.date = res.created_at;

          });

      }

    },
    components:{
      Summary
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }
  }
</script>

<style>
    .lds-ripple {
        display: inline-block;
        position: relative;
        width: 124px;
        height: 124px;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .lds-ripple div {
        left: 50%;
        position: absolute;
        border: 4px solid red;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
        0% {
            top: 68px;
            left: 68px;
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            top: -1px;
            left: -1px;
            width: 118px;
            height: 118px;
            opacity: 0;
        }
    }
</style>
