<template>
    <div>
        <h4>Kredi Kartı ile Ödeme</h4>
        <div class="paymentDoor">
            <div class="col-5 p-0 mb-4 float-left">
                <div class="form-group">
                    <label for="cc-number" class="control-label mb-1">Kart Sahibinin Adı</label>
                    <input id="cc-name"
                           name="cc-name"
                           type="text"
                           class="form-control"
                           required autocomplete="off"
                           v-model="creditCart.cardHolderName"
                    >
                </div>
                <div class="form-group">
                    <label for="cc-number" class="control-label mb-1">Kart Numarası</label>
                    <input-mask mask="9999 9999 9999 9999"
                                maskChar=" "
                                id="cc-number" name="cc-number"
                                class="form-control"
                                required autocomplete="off"
                                v-model="creditCart.cardNumber"
                    ></input-mask>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group col-6 float-left  pl-1">
                            <label for="cc-exp-month" class="control-label mb-1">Ay</label>
                            <select class="form-control" tabindex="6" id="cc-exp-month" v-model="creditCart.expireMonth">
                                <option selected="selected">Ay</option>
                                <option v-for="month in expireMonths" :value="month">{{month}}</option>
                            </select>
                        </div>
                        <div class="form-group  col-6 float-left p-0">
                            <label for="cc-exp-year" class="control-label mb-1">Yıl</label>
                            <select class="form-control" tabindex="6" id="cc-exp-year" v-model="creditCart.expireYear">
                                <option selected="selected">Yıl</option>
                                <option v-for="year in expireYears" :value="year">{{year}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="cc-cvc" class="control-label mb-1">CVV</label>
                        <div class="input-group">
                            <input-mask mask="999" maskChar=" "
                                        id="cc-cvc" name="cc-cvc"
                                        class="form-control"
                                        v-model="creditCart.cvc"
                                        required autocomplete="off"
                            ></input-mask>
                        </div>
                    </div>
                    <!--<div class="col-6">
                        <div class="card3d" style="margin-top: 33px;">
                            <label>
                                <input type="checkbox" class="is3dSecure" tabindex="8" v-model="creditCart.threeDS">
                                <span>3D Secure ile öde</span>
                            </label>
                            <i class="ys-icons ys-icons-hintIcon" data-hint="3dSecure" data-original-title="" title=""></i>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="col-6 p-0 ml-5 float-left" v-if="installmentShow">
                <h4>({{this.bin.cardFamilyName}}) Taksit Seçenekleri</h4>
                <ul class="installment">
                    <li v-for="inst in this.bin.installmentPrices">
                        <label :for="'cc-installment'+inst.installmentNumber" class="control-label mb-1 col-12 ">
                            <div class="form-group float-left col-12">
                                <input type="radio" name="installment"
                                       v-model="creditCart.installment"
                                       :value="inst.installmentNumber"
                                       :id="'cc-installment'+inst.installmentNumber">&nbsp; &nbsp;{{inst.installmentPrice}} x {{inst.installmentNumber}}
                                <div class="float-right" style="width: 70px">{{inst.totalPrice}} TL</div>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<style>
    .installment{
        margin: 0;
        display: block;
        padding: 0;
    }
    .installment li{
        padding: 6px;
        list-style: none;
        border: 1px solid #4cd3e3;
        border-radius: 15px;
        height: 40px;
        margin-bottom: 10px;
    }
    .installment li label{
        cursor: pointer;
    }
</style>
<script>
    export default {
      props:['creditCart'],
      data(){
        return{
          installmentShow: false,
          expireYears:[2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2032],
          expireMonths:[1,2,3,4,5,6,7,8,9,10,11,12],
          bin: [],
        }
      },
      watch:{
        "creditCart.cardNumber": function (item) {
          if (item.trim().length > 7 ){
            this.getBin(item.trim().replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, ''))
          }
        }
      },
      methods:{
        getBin(bin){
          let cart = JSON.parse(localStorage.getItem('cart'));
          bin = bin.slice(0,7);
          this.$store.dispatch('state_definition/installment', {binNumber: bin, price: cart.total_price})
            .then(response => {
              this.bin = response.result.set;
              console.log(response.result.set.installmentPrices)
              if (response.result.set.installmentPrices.length > 1) {
                this.installmentShow = true
              }
            });
        }
      }
    }
</script>
