<template>
    <div>
        <h4>Kapıda Ödeme</h4>
        <div class="paymentDoor">
            <h4></h4>
            Havale Bilgilerimiz aşağıdaki gibidir.
            <br>
            <br>
            <div style="width: 400px; border:1px solid #ebebeb; padding: 5px; text-align: center">
                <p>MARKAXD OTO GROUP</p>
                <img src="https://www.qnbfinansbank.com/_assets/img/logo.png" width="100" style="padding-bottom: 10px; margin: 0 auto">
                <p><b>TR85 0011 1000 0000 0091 7327 51</b></p>
            </div>

        </div>
    </div>
</template>

