<template>
    <div>
        <h4>Kapıda Ödeme</h4>
        <div class="paymentDoor">
            <h4></h4>

            Kapıda ödeme seçeneği ile devam edebilmek için bir doğrulama kodu ile alışverişi doğrulamanız gerekmektedir.
            <br>
            <br>
            <h2><i class="fa fa-phone"></i> {{phone_number}}</h2> Numaralı telefonunuza doğrulama kodu gönderilecektir.
        </div>
    </div>
</template>

<script>
    export default {
      data(){
        return{
          phone_number: null,
        }
      },
      created() {
        let address = null;
        if(!process.server){

          address = JSON.parse(localStorage.getItem('address'));

          if(address == null){
            this.$router.push({path:'/address'})
          }

          if(address.phone_number && address.phone_number != null)
          this.phone_number = address.phone_number;
        }


      }
    }
</script>