/* Home Banner Area css
============================================================================================ */
.home_banner_area{
	position: relative;
	z-index: 1;
	min-height: 900px;
	background: #e8f0f2;
	.banner_inner{
		position: relative;
		width: 100%;
		min-height: 900px;
		.overlay{
		//	background: url(./assets/img/banner/home-banner.jpg) no-repeat scroll center center;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 121%;
			bottom: 0;
			z-index: -1;
		}
		.banner_content{
			color: $dip;
			padding-top: 80px;
			.col-lg-5{
				align-self: center;
				vertical-align: middle;
			}
			h3{
				font-size: 48px;
				font-family: $rob;
				font-weight: 500;
				line-height: 60px;
				margin-bottom: 20px;
			}
			p{
				font-size: 14px;
				line-height: 24px;
				font-family: $rob;
				font-weight: normal;
				color: $pfont;
			}
			.white_bg_btn{
				margin-top: 45px;
				line-height: 50px;
				border-radius: 5px;
				display: inline-block;
				font-weight: 500;
				font-size: 14px;
				box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
			}
			.halemet_img{
				text-align: right;
			}
		}
	}	
	
}

.blog_banner{
	min-height: 780px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin-bottom: 0px;
	.banner_inner{
		background: #04091e;
		position: relative; 
		overflow: hidden;
		width: 100%;
		min-height: 780px;
		z-index: 1;
		.overlay{
		//	background: url(../../assets/img/banner/banner-2.jpg) no-repeat scroll center center;
			opacity: .5;
			height: 125%;
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			z-index: -1;
		}
		.blog_b_text{
			max-width: 700px;
			margin: auto;
			color: #fff;
			margin-top: 40px;
			h2{
				font-size: 60px;
				font-weight: 500;
				font-family: $rob;
				line-height: 66px;
				margin-bottom: 15px;
			}
			p{
				font-size: 16px;
				margin-bottom: 35px;
			}
			.white_bg_btn{
				line-height: 42px;
				padding: 0px 45px;
			}
		}
	}
}

.banner_box{
	max-width: 1620px;
	margin: auto;
}
.banner_area{
	position: relative;
	z-index: 1;
	min-height: 395px;
	.banner_inner{
		position: relative;
		overflow: hidden;
		width: 100%;
		min-height: 395px;
		background: #e8f0f2;
		z-index: 1;
		.overlay{
	//		background: url(../../assets/img/banner/banner.jpg) no-repeat scroll center center;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 125%;
			bottom: 0;
			z-index: -1;
			opacity: 1;
		}
		.banner_content{
			h2{
				color: $dip;
				font-size: 48px;
				font-family: $rob;
				margin-bottom: 12px;
				font-weight: 500;
				margin-top: 100px;
			}
			.page_link{
				a{
					font-size: 14px;
					color: $pfont;
					font-family: $rob;
					margin-right: 32px;
					position: relative;
					&:before{
						content: "\e87a";
						font-family: 'Linearicons-Free';
						font-size: 14px;
						position: absolute;
						right: -25px;
						top: 50%;
						transform: translateY(-50%);
					}
					&:last-child{
						margin-right: 0px;
						&:before{
							display: none;
						}	
					}
					&:hover{
						color: $baseColor;
					}
				}
			}
		}
	}
}

/* End Home Banner Area css
============================================================================================ */