<template>
  <div>
    <div class="feature_product_inner">
      <div class="main_title">
        <h2>Yeni Ürünler</h2>
        <p>Ürünümüz deri olup <b>40</b> adet desen seçeneği bulunmaktadır.</p>
      </div>

      <div class="feature_p_slider owl-carousel">
        <div class="item col-lg-3 " v-for="product in newProducts">
          <div class="f_p_item" @click="redirectProduct('/urun/'+product.seo_information.url)">
            <div class="f_p_img">
              <p class="new_product_icon">NEW</p>
              <a :href="'/urun/'+product.seo_information.url"><img class="img-fluid" :src="cdnUrl+product.cover.image" :alt="product.cover.title.tr"></a>
              <!--<div class="p_icon" style="display: none">-->
                <!--<a href="#"><i class="fa fa-heart"></i></a>-->
                <!--<a href="#"><i class="fa fa-shopping-cart"></i></a>-->
              <!--</div>-->
            </div>
            <a :href="'/urun/'+product.seo_information.url"><h4>{{product.title.tr}}</h4></a>
            <div v-if=" product.stocks[0].has_discount === 'y' ">
              <h5 class="price"><del>{{product.stocks[0].price}} ₺</del></h5>
              <h5 class="is_discount">{{product.stocks[0].discount_price}}  ₺</h5>
            </div>
            <div v-else>
              <h5 class="is_discount">{{product.stocks[0].price}} ₺</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

		data(){
			return{
				cdnUrl : process.env.cdn_url+'images/product/'
			}
		},
		methods:{
			redirectProduct(url){
				this.$router.push(url);
			}
		},
		props:['test'],
  }
</script>