<template>

    <div class="col-lg-3  col-md-3 col-sm-3">
      <div class="single-footer-widget">
          <div class="footer_title mb-2">Bize Ulaşın</div>
        <div class="col-12 p-0 mt-2">
            <div><a href="tel://+908504410775" class=""><i class="fa fa-phone"></i> Ofis :+90850 441 0775</a></div>
            <div><p><a href="https://wa.me/905072787575?text=Merhabalar+%2C%0D%0A%0D%0AL%C3%BCfen+Arac%C4%B1n%C4%B1z%C4%B1n+Marka+ve+Modelini+yaz%C4%B1n%C4%B1z."
                       target="_blank"><i class="fa fa-whatsapp"></i> Whatsapp: +90 555 086 7575</a></p></div>
            <p>Sosyal medya hesaplarımız.</p>
            <div class="f_social">
                <a href="https://wa.me/905072787575?text=Merhabalar+%2C%0D%0A%0D%0AL%C3%BCfen+Arac%C4%B1n%C4%B1z%C4%B1n+Marka+ve+Modelini+yaz%C4%B1n%C4%B1z." target="_blank"><i class="fa fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/MARKAXDOTOPASPAS01/" target="_blank"><i class="fa fa-facebook ml-2"></i></a>
                <a href="https://www.instagram.com/markaxdcom/" target="_blank"><i class="fa fa-instagram ml-2"></i></a>
                <a href="https://www.youtube.com/channel/UCnolxRkhXi_hOrmvaiHB8mg"><i class="fa fa-youtube ml-2"></i></a>
            </div>
        </div>
      </div>
    </div>

</template>
<style>
.footer-logo {
    margin: 0 auto;
}
</style>
<script>
  export  default {

    data() {
      return {

        static_cdn_url: process.env.cdn_url + 'static/'
      }
    },
  }
</script>
