<template>

    <div class="col-lg-5  col-md-5 col-sm-5">
      <div class="single-footer-widget">
          <div class="col-12 text-center p-0">
              <img :src="static_cdn_url+'site/logo.png'" alt="MarkaXD Logo" class="footer-logo">
          </div>
        <div class="col-12 p-0 mt-2">
            MARKA XD Otomotiv Group <br>Türk Patent Kurumundan tescilli bir markadır. <br>
            xD-5d havuzlu Taban kaplama (paspas) üretimi yapan öncü ve yenilikçi marka olarak araçlarınıza değer ve yenilik katıyoruz.
        </div>
      </div>
    </div>

</template>
<style>
.footer-logo {
    margin: 0 auto;
}
</style>
<script>
  export  default {

    data() {
      return {

        static_cdn_url: process.env.cdn_url + 'static/'
      }
    },
  }
</script>
