<template>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="single-footer-widget col-lg-5 col-md-5 col-sm-5 float-left">
        <div class="footer_title mb-2">Kurumsal</div>
          <div><nuxt-link to="/">Anasayfa</nuxt-link></div>
          <div><nuxt-link to="/hakkimizda">Hakkımızda</nuxt-link></div>
          <div><nuxt-link to="/bayilerimiz">Bayilerimiz</nuxt-link></div>
          <div><nuxt-link to="/bize">Bize Ulaşın</nuxt-link></div>
      </div>
      <div class="single-footer-widget col-lg-6 col-md-6 col-sm-6 float-left">
        <div class="footer_title mb-2">Müşteri İlişkileri</div>
        <div><nuxt-link to="/mesafeli-satis-sozlesmesi">Mesafeli Satış Sözleşmesi</nuxt-link></div>
        <div><nuxt-link to="/gizlilik-politikasi">Gizlilik Politikası</nuxt-link></div>
        <div><nuxt-link to="/odeme-satis-ve-iade-kosullari">İade, Ödeme ve Teslimat</nuxt-link></div>
      </div>
    </div>
</template>
<style>
  .single-footer-widget a:active{
    color: #000;
  }
  .single-footer-widget a{
    color: #777777;
  }
</style>
