<template>
    <div class="col-lg-2 col-md-6 col-sm-6">
      <div class="single-footer-widget f_social_wd">
        <h3 class="footer_title">Bizi Takip Edin</h3>
        <p>Sosyal medya hesaplarımız.</p>
        <div class="f_social">
          <a href="https://wa.me/905072787575?text=Merhabalar+%2C%0D%0A%0D%0AL%C3%BCfen+Arac%C4%B1n%C4%B1z%C4%B1n+Marka+ve+Modelini+yaz%C4%B1n%C4%B1z." target="_blank"><i class="fa fa-whatsapp"></i></a>
          <a href="https://www.facebook.com/MARKAXDOTOPASPAS01/" target="_blank"><i class="fa fa-facebook ml-5"></i></a>
          <a href="https://www.instagram.com/markaxdcom/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCnolxRkhXi_hOrmvaiHB8mg"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
</template>
