<template>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget instafeed">
            <h3 class="footer_title">Instagram</h3>
            <ul class="list instafeed d-flex flex-wrap">
                <vue-instagram :token="accessToken" :count="5" :tags="['hashtag1', 'hashtag2']" mediaType="image">
                    <template slot="feeds" slot-scope="props">
                        <li class="fancy-list"> {{ props.feed.link }} </li>
                    </template>
                    <template slot="error" slot-scope="props">
                        <div class="fancy-alert"> {{ props.error.error_message }} </div>
                    </template>
                </vue-instagram>
                <!--<li v-for="(insta, index) in instagramFeed" v-if="loopIndex(index) <= 12"><img :src="insta" alt=""></li>-->
            </ul>
        </div>
    </div>

</template>


<script>
  import {mapState, mapActions} from 'vuex'
  export default {
    computed:{
      ...mapState('state_definition',{
        instagramFeed : state => state.instagramFeed,
      }),
    },
    data(){
      return{
        accessToken : process.env.instagram_access_token
      }
    },
    methods:{
      loopIndex (index){
        return index +1
      }
    }
  }
</script>

<style>
    .instafeed li {
        width: 58px;
        height: 58px;
        overflow: hidden;
    }
    .instafeed li img{
        width: 58px;
    }
</style>
