<template>
  <div>
    <section class="clients_logo_area">
      <div class="container">
        <div class="main_title">
          <div class="brand-h1">MarkaXD Her Araca Uygun</div>
          <h2 class="brand-h2">5D Paspas</h2>
          <p>MarkaXD her araca ve modele uygun üretim yapabilmektedir.</p>
        </div>
        <div class="clients_slider owl-carousel" v-lazy-container="{ selector: 'img' }">
          <div class="col-md-2 col-6 float-left">
            <img :data-src="cdn_url+'ferari.png'" alt="Markaxd Ferari Oto Paspas">
          </div>
          <div class="col-md-2 col-6  float-left  mb-5">
            <img :data-src="cdn_url+'porsche.png'" alt="Markaxd Porsche Oto Paspas">
          </div>
          <div class="col-md-2 col-6  float-left">
            <img :data-src="cdn_url+'bmw.png'" alt="Markaxd Bmw Oto Paspas">
          </div>
          <div class="col-md-2 col-6  float-left mb-5">
            <img :data-src="cdn_url+'volvo.png'" alt="Markaxd Volvo Oto Paspas">
          </div>
          <div class="col-md-2 col-6  float-left">
            <img :data-src="cdn_url+'mitsubisi.png'" alt="Markaxd Mitsubishi Oto Paspas">
          </div>
          <div class="col-md-2 col-6  float-left">
            <img :data-src="cdn_url+'skoda.png'" alt="Markaxd Skoda Oto Paspas">
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>
  </div>
</template>

<style>
  .brand-h1{
    font-size: 36px;
    font-weight: 500;
  }
  .brand-h2{
    font-size: 14px !important;
    margin-top: 10px;
    color: #777777 !important;
  }

</style>

<script>
  import {mapState, mapActions} from 'vuex'
  export default {
    computed:{
      ...mapState('state_definition',{
        instagramFeed : state => state.instagramFeed,
      }),
    },
    data(){
      return{
        cdn_url : process.env.cdn_url+'static/brand/'
      }
    }
  }
</script>
