<template>
  <section class="feature_product_area">
    <div class="main_box">
      <div class="container">
        <show-case :showCase="showCase"/>
        <div>
          <div class="feature_product_inner">
            <div class="main_title">
              <h1 class="h2-font">OTO PASPAS</h1>
              <p>Ürünümüz deri olup <b>40</b> adet desen seçeneği bulunmaktadır.</p>
            </div>
            <div class="feature_p_slider owl-carousel" v-lazy-container="{ selector: 'img' }">
              <product v-for="productItem in newProducts"  :product="productItem" :key="productItem.id"/>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
</template>

<style>
  .h2-font{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #222222;
    margin-bottom: 12px;
    font-weight: 500;
  }
</style>
<script>
  import ShowCase from '~/components/home/ShowCase'
  import FeatureProduct from '~/components/home/FeatureProduct'
  import Product from '~/components/common/Product'

  export default {
  	props:[ 'showCase','newProducts'],
  	components:{
  		FeatureProduct, ShowCase, Product
    }
  }
</script>
