<template>
  <section class="most_product_area">
    <div class="main_box">
      <div class="container">
        <div class="main_title">
          <div class="seller-title">İndirimdeki Ürünlerimiz</div>
          <h2 class="seller-h2">Oto Paspas Fiyatları</h2>
        </div>
        <div class="row most_product_inner" v-lazy-container="{ selector: 'img' }">
            <div v-for="product in discountProducts" class="media col-lg-3 col-sm-3">
              <div class="d-flex">
                <img :data-src="cdnUrl+product.cover.image" alt="">
              </div>
              <div class="media-body">
                <a :href="'urun/'+product.seo_information.url"><h4>{{product.title.tr}}</h4></a>
                <div class="price"><del>{{product.stocks[0].price}} ₺</del></div>
                <div class="is_discount">{{product.stocks[0].discount_price}} ₺</div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </section>
</template>
<style>
  .seller-h2{
    font-size: 16px !important;
    color: #777 !important;
  }
  .seller-title{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #777;
    margin-bottom: 12px;
    font-weight: 500;
  }
</style>
<script>
  export default {
  	props:['discountProducts'],
		data(){
			return{
				cdnUrl : process.env.cdn_url+'images/product/'

			}
		},
  }
</script>
