<template>
  <div>
    <div class="row hot_product_inner mobile-hide" v-if="showCase.length > 0">
      <div class="col-lg-6">
        <div class="hot_p_item">
          <img class="img-fluid" :src="cdnUrl+showCase[0].cover" :alt="showCase[0].name.tr" :title="showCase[0].name.tr">
          <div class="product_text">
            <h2>{{showCase[0].name.tr}}</h2>
            <!--<a :href="'/'+showCase[0].slug">Shop Now</a>-->
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hot_p_item">
          <img class="img-fluid" :src="cdnUrl+showCase[1].cover" :alt="showCase[1].name.tr" :title="showCase[1].name.tr">
          <div class="product_text">
            <h2>{{showCase[1].name.tr}}</h2>
            <!--<a :href="'/'+showCase[1].slug">Shop Now</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
	import {mapState, mapActions} from 'vuex'
  export default {
		props:['showCase'],
		data(){
			return{
				cdnUrl : process.env.cdn_url+'images/category/'
      }
    }
  }
</script>