<template>
    <div class="col-lg-12">
        <h3>Teslimat Adresi</h3>
        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
            <div class="col-md-6 form-group p_star" v-if="!busAddress.guest">

                <input type="text" class="form-control" placeholder="Adres Başlığı" v-model="busAddress.address.addresName">
                <span class="text-danger" v-model="busAddress.error.addresName"></span>
            </div>
            <div class="col-md-6 form-group p_star">
                <label for="name">Adı</label>
                <input type="text" class="form-control" id="name" placeholder="Adı" v-model="busAddress.address.first_name">
                <span class="text-danger" v-model="busAddress.error.first_name"></span>
            </div>
            <div class="col-md-6 form-group p_star">
                <label for="name">Soyadı</label>
                <input type="text" class="form-control" placeholder="Soyadı" v-model="busAddress.address.last_name">
                <span class="text-danger" v-model="busAddress.error.last_name"></span>
            </div>
            <div class="col-md-6 form-group p_star">
                <label for="name">Telefon Numarası</label>
                <input-mask class="form-control"  placeholder="Telefon Numarası"  v-model="busAddress.address.phone_number"
                            mask="\909999999999" maskChar="" />
                <span class="text-danger" v-model="busAddress.error.phone_number"></span>
            </div>
            <div class="col-md-6 form-group p_star">
                <label for="name">E-Posta</label>
                <input type="text" class="form-control" placeholder="E-Posta" v-model="busAddress.address.email">
                <span class="text-danger" v-model="busAddress.error.email"></span>
            </div>
            <div class="col-md-6 form-group p_star">
                <label for="name">İl</label><br>
                <select class="city_select" v-model="selectedCity">
                    <option value="0">Lütfen Bir İl Seçiniz</option>
                    <option v-for="city in cities" :value="city.plate_code">{{city.name}}</option>
                </select>
            </div>
            <div class="col-md-6 form-group p_star">
                <label for="name">İlçe</label><br>
                <select class="city_select" v-model="selectedDistrict">
                    <option value="0">Lütfen Bir İlçe Seçiniz</option>
                    <option v-if="districts.length" v-for="district in districts" :value="district.id">{{district.name}}</option>
                </select>
                <span class="text-danger" v-model="busAddress.error.district"></span>
            </div>
            <div class="col-md-12 form-group p_star">
                <label for="name">Adres</label>
                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Adres" v-model="busAddress.address.address_detail"></textarea>
            </div>
        </form>
    </div>
</template>

<script>
  import axios from 'axios'
  export default {
    props: ['busAddress'],
    data(){
      return{
        cities:[],
        districts :[],
        selectedCity: 0,
        selectedDistrict: 0,
        api_url : process.env.base_url
      }
    },
    watch:{
      "selectedCity": function(val){
        this.busAddress.address.city = val;
        this.districts = [];
        this.selectedDistrict = 0;

        axios.get(this.api_url+'/address/district/'+val).then(response =>{
          this.districts  = response.data.result.set;
        }).catch( error =>{ console.log('Beklenmedik Bir Hata :(')  } );
      },
      "selectedDistrict": function(val){
        this.busAddress.address.district = val;
      }
    },
    created() {
      if (this.busAddress.address.city || this.busAddress.address.district){
        this.selectedCity = this.busAddress.address.city;
        let _this = this;
        setTimeout(function () {
          _this.selectedDistrict = _this.busAddress.address.district
        }, 1000)
      }

      axios.get(this.api_url+'/address/city').then(response =>{
        this.cities  = response.data.result.set;
      }).catch( error =>{ console.log('Beklenmedik Bir Hata :(')  } );
    }
  }
</script>
