<template>
  <section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div id="carouselExampleIndicators" class="mobile-carousel container slide" data-ride="carousel" >
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators"
              v-for="(banner,index) in banners"
              data-slide-to="index" :class="(index == 0 ? 'active ': '')"></li>
        </ol>
        <div class="carousel-inner" v-lazy-container="{ selector: 'img' }">

          <div :class="(index == 0 ? 'active ': '')+ 'carousel-item'" v-for="(banner,index) in banners">
            <div class="col-lg-5 banner-title">
              <div class="banner-title-h3">{{banner.title.tr}}</div>
              <p>{{banner.description.tr}}</p>
            </div>
            <div class="col-lg-5 col-12 banner-image">
              <div class="halemet_img">
                <img :data-src="cdnUrl+''+banner.image" :alt="banner.title.tr">
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
</template>
<style>
  .banner-title-h3{
    font-size: 24px;
    font-weight: 500;
  }
</style>
<script>

  import {mapState, mapGetters} from 'vuex'
  export default {
    props: ['banners'],
    data(){
      return{
        cdnUrl : process.env.cdn_url+'images/banner/'
      }
    }
  }


</script>
