<template>
  <footer class="footer-area">
    <div class="container">
      <footerText></footerText>
      <div class="row">
        <footer-about />
        <footer-subscription />
        <contact />
      </div>
      <div class="row footer-bottom d-flex justify-content-between align-items-center text-center">
        <img v-lazy="'https://api.markaxd.com/cdn/static/site/visa.png'" alt="visa logo" width="100" class="visa-image">
        <p class="col-lg-12 footer-text text-center">Copyright ©2019 All rights reserved | MarkaXD</p>
      </div>
    </div>
  </footer>
</template>
<style>
  .visa-image{
    margin: 0 auto;
    margin-bottom: 10px;
  }
</style>
<script>
  import FooterAbout from '~/components/home/FooterAbout'
  import FooterSubscription from '~/components/home/FooterSubscription'
  import FooterSocial from '~/components/home/FooterSocial'
  import Contact from '~/components/home/FooterContact'
  import FooterText from '@/components/common/FooterText'
  export default {
  	components:{
			FooterAbout,FooterSubscription,Contact,FooterSocial,
      FooterText
    },
  }
</script>
