<template>
    <div class="footer-text mb-100 text-center" v-if="!showMore">
        <p><b>Oto paspas</b> alanında, uzun yıllardır kaliteli ve yenilikçi bir hizmet vermekteyiz. Tescilli markamızdan, en uygun fiyatlarla güvenilir ve hızlı alışveriş yaparak araçlarınıza şıklık katabilirsiniz.</p>
        <p>
            Oto paspas, aracınıza istediğiniz iç görünümünü vermek ve aracın içini korumak için en önemli detaylardan biridir. Uzun süre dayanabilen ve koruyucu özelliği üst düzey olan paspaslar, kullanıcıları oldukça memnun etmektedir. Paspaslarla araç kaplatmaya olan ilgi, her geçen gün artmaktadır. Kaliteli malzemelerden üretilen, estetik oto paspaslar ile arabanızı istediğiniz gibi döşeyebilirsiniz. Hızlı ve güvenilir bir alışveriş için MarkaxD doğru adresiniz…
        </p>
        <a href="javascript:;" @click="showMore=!showMore">Devamını göster</a>
    </div>

    <div class="footer-text mb-100 text-center" v-else="!showMore">
        <p><b>Oto paspas</b> alanında, uzun yıllardır kaliteli ve yenilikçi bir hizmet vermekteyiz. Tescilli markamızdan, en uygun fiyatlarla güvenilir ve hızlı alışveriş yaparak araçlarınıza şıklık katabilirsiniz.</p>
        <p>
            Oto paspas, aracınıza istediğiniz iç görünümünü vermek ve aracın içini korumak için en önemli detaylardan biridir. Uzun süre dayanabilen ve koruyucu özelliği üst düzey olan paspaslar, kullanıcıları oldukça memnun etmektedir. Paspaslarla araç kaplatmaya olan ilgi, her geçen gün artmaktadır. Kaliteli malzemelerden üretilen, estetik oto paspaslar ile arabanızı istediğiniz gibi döşeyebilirsiniz. Hızlı ve güvenilir bir alışveriş için MarkaxD doğru adresiniz…
        </p>
        <h4>5D Paspas</h4>
        <p>Birçok marka için, istediğiniz özelliklerdeki 5D paspas modelimiz bulunmaktadır. Bu modellerden beğendiğiniz modelleri uygun fiyatla alabilirsiniz. Çeşitli renk ve desenlerde, sağlam ve dayanıklı oto paspaslarından seçtiğinizle aracınızı kaplayabilirsiniz. Bizden alacağınız 5D havuzlu taban kaplama ile aracınıza yenilik ve estetik değer kazandırabilirsiniz. Uzun ömürlü ve kolay yıkanabilir paspaslar, size zaman ve şıklık kazandıracaktır.</p>


        <h4>Havuzlu Taban Kaplama</h4>
        <p>Özellikle son dönemlerde revaçta olan havuzlu paspaslar, sıvı dökülmelerinde sıvının tüm paspaslara yayılmaması konusunda kullanıcılara avantaj sağlamakta. Dökülen sıvı, havuz kısmına akarak orada birikir ve böylece küçük bir kazanın taban kaplamasını mahvetmesinin önüne geçilir. Sağlam bir havuzlu taban kaplamayla birlikte hem içiniz rahat eder, hem de aracınızın iç görünümü sizi daha çok tatmin eder. Son derece kaliteli, göze hitap eden havuzlu taban kaplamalarımız arasından istediğinizle aracınızı kaplayabilirsiniz.</p>


        <h4>3D Deri Paspas</h4>
        <p>Her araca uygun, kaliteli 3D deri paspaslarla aracınızı döşeyebilirsiniz. Çeşitli desenlerden istediğiniz desene sahip 3D deri paspasları seçerek kaliteli paspaslarımızdan yararlanabilirsiniz. Oto paspas alanında yıllardır hizmet veren tescilli markamız, size bu alanda birçok fırsat sunmaktadır.</p>

        <h4>VIP Koltuk Minderleri</h4>
        <p>Koltuk minderi seçimi, aracın dış görünümünü de etkilediği için önemli bir konudur. Minderlerin üretildiği malzemenin dayanıklı oluşu, kullanıcılar için ayrıca önemlidir.</p>
        <p>Markamız, kaliteli malzemelerden üretilmiş sağlam VIP koltuk minderleriyle, araç sahiplerine büyük fırsatlar sunuyor. Göz zevkinize hitap eden, aracınızla uyumlu olduğunu düşündüğünüz koltuk minderleriyle koltuklarınızı kaplayabilirsiniz. Bu alanda size uygun fiyatlarla hizmet sunmaktayız.</p>

        <h4>Oto Paspas Fiyatları</h4>
        <p>MarkaxD, tescilli ürünleri, kaliteli materyali; uygun fiyatlar ve güvenli alışveriş ile buluşturuyor. 3d havuzlu paspas, passat b8, hyundai elantra, honda civic, bagaj havuzu, oto paspas, deri paspas seti, bmw, paspas takımı, volkswagen golf, bmw f30, kauçuk paspas, 5d havuzlu… Daha bir çok marka ve modellere özel teklif almak için bizi arayınız.</p>

        <a href="javascript:;" @click="showMore=!showMore">Daha az göster</a>
    </div>
</template>

<script>
    export default {
      data(){
        return {
          showMore:false
        }
      }
    }
</script>

<style>
    .mb-100{
        margin-bottom: 100px;
    }
</style>
