<template>
    <div v-bind="basketCom" class="basketNav">
        <ul class="nav navbar-nav navbar-right cart-icon mobile-hide">
            <li class="submenu dropdown nav-item"><a href="#" class="cart"><i class="fa fa-cart-plus"></i>

                <span class="product-quantity" v-if="len(basket) > 0"> {{len(basket)}}</span>
                Sepetim</a>
                <ul class="dropdown-menu cart-menu">
                    <div v-if="cart && len(basket)">

                        <li v-for="basketItem in basket" v-bind:key="basketItem[0].cart_item_id">
                            <div class="row">
                                <div class="col-2 cart-image">
                                    <img :src="cdnUrl+basketItem[0].stocks.product.cover.image">
                                </div>
                                <div class="col-7 cart-text">
                                    <nuxt-link :to="'/urun/'+basketItem[0].stocks.product.seo_information.url">

                   <span class="cart-name">{{basketItem[0].stocks.product.title.tr}}
                    {{basketItem[0].stocks &&
                    basketItem[0].stocks.attributes &&
                    basketItem[0].stocks.attributes.length ? '/ '
                    +basketItem[0].stocks.attributes[0].name : ''}}</span>
                                        <div v-if="basketItem[0].stocks.has_discount === 'y'">
                                            <div class="cart-price price-text">
                                                <del>{{basketItem[0].stocks.price}} ₺</del>
                                            </div>
                                            <div class="cart-discount-price price-text">
                                                {{basketItem[0].stocks.discount_price}} ₺ x {{basketItem[0].quantity}}
                                            </div>
                                            <div class="price-text"></div>
                                        </div>
                                        <div v-else>
                                            <div class="cart-price price-text">{{basketItem[0].stocks.price}} ₺ x
                                                {{basketItem[0].quantity}}
                                            </div>
                                        </div>
                                    </nuxt-link>
                                </div>
                                <div class="col-2">
                                    <span class="cart-remove" @click="removeCart(basketItem[0].cart_item_id)">X</span>
                                </div>
                            </div>
                        </li>
                        <!--Success-->
                        <li>
                            <div class="row cart-success">
                                <div class="col-7">TOPLAM :</div>
                                <div class="col-5">{{cart.total_price}} ₺</div>
                                <nuxt-link class="btn btn-success" to="/cart"> Alışverişi Tamamla</nuxt-link>
                            </div>
                        </li>
                    </div>
                    <li v-else><p> Sepetinizde Ürün Bulunmamaktadır.</p></li>
                </ul>
            </li>
            <li class="submenu dropdown nav-item" v-if="check()">
                <nuxt-link to='/user/profile' class="cart"><i class="fa fa-user"></i> Hesabım</nuxt-link>
                <ul class="submenu dropdown nav-item">
                    <li class="nav-item">
                        <nuxt-link to='/user/profile' class="nav-link">
                            <i class="fa fa-user"></i> Profil
                        </nuxt-link>
                    </li>
                    <li class="nav-item">
                        <nuxt-link to='/user/address' class="nav-link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Adreslerim
                        </nuxt-link>
                    </li>
                    <li class="nav-item">
                        <nuxt-link to='/user/orders' class="nav-link">
                            <i class="fa fa-shopping-bag"></i> Siparişlerim
                        </nuxt-link>
                    </li>

                    <li class="nav-item">
                        <a @click="logout()" class="nav-link">
                            <i class="fa fa-sign-out"></i> Çıkış Yap
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" v-else>
                <nuxt-link to='/login' class="cart"><i class="fa fa-user"></i> Üyelik</nuxt-link>
            </li>
        </ul>
    </div>
</template>

<script>

  import {mapState} from 'vuex'
  import Vue from 'vue'

  export default {
    data() {
      return {
        cdnUrl: process.env.cdn_url + 'images/product/',
        cart: [],
        basket: [],
        user: null
      }
    },
    computed: {
      ...mapState(
        'state_definition', {
          basketCom: function (state) {
            let _this = this;
            this.setCartPromise(state).then((response) => {

              if (!process.server) {

                let cart = Vue._.cloneDeep(_this.cart);

                if (cart && cart.length !== 0 && cart.cartItems !== undefined) {

                  let itemBasket = cart.cartItems.reduce((a, b) => {
                    (a[b['id']] = a[b['id']] || []).push(
                      {
                        'stocks': b.stocks,
                        'stock_id': b.stock_id,
                        'quantity': b.quantity,
                        'cart_id': b.cart_id,
                        'cart_item_id': b.id
                      }
                    );
                    return a;
                  }, []);

                  itemBasket = itemBasket.filter(item => {
                    return item !== null;
                  });

                  _this.basket = itemBasket;
                }

              }
            })
          },
        }
      ),
    },
    created() {
      if (!process.server) {
        this.$store.dispatch('state_auth/checkLogin').then(response => {
          this.user = response.result && response.result.set && response.result.set.user ? response.result.set.user : []
        }).catch(err => {
          this.user = null
        });
      }
    },
    methods: {
      len: (array) => {
        return array !== undefined ? array.length : 0;
      },
      removeCart(cart_item_id) {
        let _this = this;
        this.$store.dispatch('state_definition/removeCartItem', {cart_item_id})
          .then((response) => {
            this.$toast.success('Ürün Silindi...');
          })
          .catch((error) => {
            this.$toast.error('Bir sorun oluştu...');
          });
      },
      setCartPromise(state) {
        let _this = this;
        return new Promise((resolve, reject) => {
          _this.cart = state.cart;
          resolve(_this.cart);
        });
      },
      check() {
        if (process.client)
          return this.user
      },

      logout() {
        localStorage.removeItem('token');
        location.reload();
      }

    }
  }
</script>
