<template>
  <div class="main_menu">

    <nav class="navbar navbar-expand-lg navbar-light main_box">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <nuxt-link class="navbar-brand logo_h"  to="/"><img :src="static_cdn_url+'site/logo.png'" alt="MarkaXD Logo"></nuxt-link>
        <a href="/login" class=" navbar-toggler cart cart-mobile-icon"><i class="fa fa-user "></i></a>
        <a href="/cart" class=" navbar-toggler cart cart-mobile-icon"><i class="fa fa-cart-plus "></i></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling  submenu dropdown-->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li :class="nav.children && nav.children.length > 0 ? 'submenu dropdown nav-item' : 'nav-item'" v-for="nav in navs" >
              <nuxt-link :to="'/'+nav.url"
                         class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{nav.label}}</nuxt-link>
              <ul class="dropdown-menu" v-if="nav.children && nav.children.length">
                <li class="nav-item" v-for="child in nav.children">
                  <nuxt-link class="nav-link" :to="'/'+child.url">{{child.label}}</nuxt-link>
                </li>
              </ul>
            </li>
          <!--  <li class="nav-item">
              <nuxt-link class="nav-link" :to="'/indirimdekiler'">İndirimdekiler</nuxt-link>
            </li>-->
            <li class="submenu dropdown nav-item">
              <a href="javascript:;"
                 class="nav-link dropdown-toggle"
                 data-toggle="dropdown"
                 role="button"
                 aria-haspopup="true"
                 aria-expanded="false">Kurumsal</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><nuxt-link class="nav-link p-1 pl-4" :to="'/hakkimizda'">Hakkımızda</nuxt-link></li>
                <li class="nav-item"><nuxt-link class="nav-link p-1 pl-4" :to="'/gizlilik-politikasi'">Gizlilik Politikası</nuxt-link></li>
                <li class="nav-item"><nuxt-link class="nav-link p-1 pl-4" :to="'/mesafeli-satis-sozlesmesi'">Mesafeli Satış Sözleşmesi</nuxt-link></li>
                <li class="nav-item"><nuxt-link class="nav-link p-1 pl-4" :to="'/odeme-satis-ve-iade-kosullari'">Ödeme, Teslimat ve İade Koşulları</nuxt-link></li>
                <li class="nav-item"><nuxt-link class="nav-link p-1 pl-4" :to="'/bayilerimiz'">Bayilerimiz</nuxt-link></li>
                <li class="nav-item">
                  <nuxt-link class="nav-link" :to="'/bize-ulasin'">Bize Ulaşın</nuxt-link>
                </li>
                <!--<li class="nav-item"><nuxt-link class="nav-link p-1 pl-4" :to="'/bayilik-basvuru'">Bayilik Başvuru</nuxt-link></li>-->
              </ul>
            </li>
          </ul>
          <nav-basket/>
        </div>
      </div>
    </nav>
  </div>
</template>

<style>
  .nav-item{
    float: left;
  }
  .dropdown-menu {
    border : 1px solid #ebebeb !important;
  }
</style>

<script>
  import {mapState, mapActions} from 'vuex'
  import Vue from 'vue'

  import NavBasket from '@/components/common/NavBasket'
  export  default {
    components:{
      NavBasket
    },
    data(){
      return {
        navs : [],
        static_cdn_url : process.env.cdn_url+'static/'
      }
    },
    computed:{
      ...mapState('state_definition',{
        categories : state => state.categories
      }),

    },
    created(){
      this.navs = this.treeOption(this.categories);
    },
    methods:{
      treeOption(category){
        return category.map((item)=>{
                  if(item.children && item.children.length > 0){
                    return{
                      id : item.id,
                      label : item.name.tr,
                      url : item.slug,
                      children:this.treeOption(item.children)
                    }
                  }else{
                    return {
                      id : item.id,
                      label : item.name.tr,
                      url: item.slug
                    }
                  }
                }
        );
      }
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
    }
  }

</script>
