<template>
    <div>
        <div class="payment_item">
            <div class="radion_btn">
                <input type="radio" id="f-option5" name="selector">
                <label for="f-option5">Havale ile Ödeme</label>
                <div class="check"></div>
            </div>
            <p>İŞ BANKASI: TR123123123123123123</p>
        </div>
        <!--<div class="payment_item">
            <div class="radion_btn">
                <input type="radio" id="f-option6" name="selector">
                <label for="f-option6">Kredi Kartı ile Ödeme</label>
                <img src="img/product/single-product/card.jpg" alt="">
                <div class="check"></div>
            </div>
            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
        </div>-->
    </div>
</template>

