<template>
  <div>
    <div class="item col-lg-3 col-6">
      <div class="f_p_item">
        <div class="f_p_img">
          <p class="new_product_icon">YENİ</p>
          <a :href="'/urun/'+product.seo_information.url">
            <img class="img-fluid" :data-src="cdnUrl+product.cover.image" :alt="product.cover.title.tr"></a>
          <div class="p_icon" >
            <!--<a href="#" style="display: none"><i class="fa fa-heart"></i></a>-->
            <button v-if="product.stocks !== undefined && product.stocks.length > 0"
                    v-on:click="cart(product.stocks[0].id)"><i class="fa fa-shopping-cart"></i></button>
          </div>
        </div>
        <a :href="'/urun/'+product.seo_information.url"><div class="product_title_h4">{{product.title.tr}}</div></a>
        <div v-if="product.stocks !== undefined && product.stocks.length > 0">
          <div v-if="product.stocks[0].has_discount === 'y' ">
            <div class="price"><del>{{product.stocks[0].price}} ₺</del></div>
            <div class="is_discount">{{product.stocks[0].discount_price}}  ₺</div>
          </div>
          <div v-else>
            <div class="is_discount">{{product.stocks[0].price}} ₺</div>
          </div>
        </div>
        <div v-else>
          <div class="price"><mark>TÜKENDİ</mark></div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  .product_title_h4{
    color: #222222;
    font-size: 16px;
    margin-top: 15px;
    transition: all 300ms linear 0s;
    font-weight: 500;
  }
</style>
<script>
  export default {
    props:["product"],
    data(){
      return{
        cdnUrl : process.env.cdn_url+'images/product/'
      }
    },

    methods:{
      cart(stockId){
        this.$store.dispatch('state_definition/addCart',{stock_id:stockId, quantity:1}).then(()=>{
          this.$toast.success('Sepete Eklendi...');
        });
      },
      redirectProduct(url) {
      },
    },
  }
</script>
