<template>
    <div class="col-12 p-0">
        <div class="group mb-3">
         <!--   <g-signin-button
                    class="btn btn-block btn-social btn-google col-12"
                    style="width:100% !important; background: #DD4B39; color:#fff; cursor: pointer"
                    :params="googleSignInParams"
                    @success="onSignInSuccessGoogle"
                    @error="onSignInError">
                <span class="fa fa-google"></span> With Google Login
            </g-signin-button>-->
        </div>
        <div class="group mb-3">
            <fb-signin-button
                    class="btn btn-block btn-social btn-facebook col-12"
                    style="width:100% !important; color:#fff;  cursor: pointer"
                    :params="fbSignInParams"
                    @success="onSignInSuccessFacebook"
                    @error="onSignInError">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </fb-signin-button>
        </div>
        <hr>
    </div>
</template>
<style>
    .btn-facebook{
        background: #3b5998 !important;
    }
</style>
<script>
  export default {

    data(){

      return {
        googleSignInParams: {
          client_id: '811366763561-f478j3hqdaioen3m77rjm5ggjt1jo791.apps.googleusercontent.com'
        },
        fbSignInParams: {
          scope: 'email, user_likes',
          return_scopes: true
        }
      }
    },
    methods:{
      onSignInSuccessGoogle (response) {
        this.loginSocial(response.getAuthResponse().id_token, 'google');
      },
      onSignInSuccessFacebook (response) {
        this.loginSocial(response.authResponse.accessToken, 'facebook');
      },
      loginSocial(token, social){
        this.$store.dispatch('state_auth/socialLogin',{token:token, social:social})
          .then(response =>{
            if (response && response.code && response.code === 401) {
              this.$toast.error(this.$t(response.message));
            }else {
              this.$toast.success('Oturum başarılı');
              location.reload();
              this.$modal.hide('login-modal');
            }
          });
      },
      onSignInError (error) {
        console.log('OH NOES', error)
      },
    }
  }
</script>
