<template>
    <div :class="!paymentPage ? 'col-lg-4':'col-lg-12'" v-bind="basketCom">
        <div class="order_box">

            <h2>Sipariş Detayı</h2>
            <ul class="list">
                <li><a href="#">Ürün <span>Fiyat</span></a></li>
                <li v-for="basketItem in basket">
                    <a href="#">{{basketItem[0].stocks.product.title.tr}} <span class="middle">x {{basketItem[0].quantity}}</span> <span class="last">{{basketItem[0].total_price}} ₺</span></a>
                </li>
            </ul>
            <ul class="list list_2">
                <li><a href="#">Tutar <span>{{ sumTotalPrice()}} ₺</span></a></li>
                <li><a href="#" v-if="cargoPrice">Kargo <span>{{cargoPrice}} ₺</span></a></li>
                <li><a href="#">Toplam Tutar <span>{{ sumTotalPrice() + cargoPrice}} ₺</span></a></li>
            </ul>
            <p class="main_btn" @click="bus.$emit('success')" v-if="!paymentPage">Alışverişi Tamamla</p>
        </div>
    </div>
</template>

<script>
  import {mapState} from 'vuex'
  import Vue from 'vue'
  export default {
    props:['bus', 'paymentPage'],
    data(){
      return{
        cargoPrice : 0,
        cart : [],
        basket : [],
        quantityProduct: 0,
      }
    },
    computed:{
      ...mapState('state_definition',{
        basketCom : function (state) {
          let _this = this;
          this.setCartPromise(state).then((response)=>{
            if(!process.server){

              let cart = Vue._.cloneDeep(_this.cart);

              if(cart && cart.length !== 0 && cart.cartItems !== undefined){

                let itemBasket =  cart.cartItems.reduce((a, b) => {

                  (a[b['id']] = a[b['id']] || []).push(
                    {
                      'stocks'   :b.stocks,
                      'stock_id' :b.stock_id,
                      'quantity' :b.quantity,
                      'cart_id'  :b.cart_id,
                      'total_price':b.total_price,
                      'cart_item_id' :b.id
                    }
                  );
                  return a ;
                },[]);

                itemBasket = itemBasket.filter(item =>{
                  return item !== null;
                })

                _this.basket =  itemBasket;
              }
            }
          })
        }
      }),
    },
    created(){

      if(process.client){
        let address = JSON.parse(localStorage.getItem('address'));
        if(address && address !== undefined && address !== null){
          this.$store.dispatch('state_definition/getCargoPrice', {city : address.city}).then(response =>{
            this.cargoPrice = response.result.set.price;
          }).catch(e =>{
            this.$toast.error('Bir sorun oluştu.');
          });
        }

      }
    },
    methods:{
      sumTotalPrice(){

        let total = 0;
        this.basket.forEach(item =>{
          total = total + item[0].total_price;
        })
        return total;
      },

      setCartPromise(state){
        let _this = this;
        return new Promise((resolve) => {
          _this.cart = state.cart;
          resolve(_this.cart);
        });
      },

    },
  }
</script>
