<template>
  <div class="top_menu row m0">
    <div class="container">
      <div class="float-left">
        <a href="mailto:info@markaxd.com"><i class="fa fa-inbox"></i> info@markaxd.com</a>
        <a href="tel://+908504410775"><i class="fa fa-phone"></i> +90 850 441 0775</a>
      </div>
      <div class="float-right">
        <ul class="header_social">

          <li><a href="https://wa.me/905550867575?text=Merhabalar+%2C%0D%0A%0D%0AL%C3%BCfen+Arac%C4%B1n%C4%B1z%C4%B1n+Marka+ve+Modelini+yaz%C4%B1n%C4%B1z." target="_blank"><i class="fa fa-whatsapp"></i></a></li>
          <li><a href="https://www.facebook.com/MARKAXDOTOPASPAS01/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/markaxdcom/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCnolxRkhXi_hOrmvaiHB8mg"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
