<template>
  <div >
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content text-center">

          </div>
        </div>
      </div>
    </section>
    <!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container">
        <div class="row s_product_inner">
          <div class="col-md-12 page_link bread">
            <ul class="breadcrumb-list">
              <li class="breadcrumb-item active"><nuxt-link to="/">MarkaXD</nuxt-link></li>
              <!--<li class="breadcrumb-item" ><nuxt-link :to="'/'+categoryName(product.categories).slug">{{categoryName(product.categories).name.tr}}</nuxt-link></li>-->
              <li class="breadcrumb-item">{{product.title.tr}}</li>
            </ul>
          </div>

          <div class="col-lg-6">
            <div class="s_product_img">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" v-if="product.gallery.length > 0">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" v-for="(gallery,index) in product.gallery"
                      :data-slide-to="index" :class="index === 0 ? 'active' : ''">
                    <img :src="cdnUrl+gallery.image" :alt="gallery.title.tr" width="60">
                  </li>
                </ol>
                <div class="carousel-inner">
                  <div :class="'carousel-item '+(index == 0 ? 'active' : '')"  v-for="(gallery,index) in product.gallery">
                    <img class="d-block w-100" :src="cdnUrl+gallery.image" :alt="gallery.title.tr">
                  </div>
                </div>
              </div>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators"
                      :data-slide-to="null" class="active">
                    <img :src="cdnUrl+product.cover.image" :alt="product.cover.title.tr" width="60">
                  </li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img :src="cdnUrl+product.cover.image" :alt="product.cover.title.tr" class="itemImage">
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-5 offset-lg-1" >
            <div class="s_product_text">
              <h3>{{product.title.tr}}</h3>
              <h2 class="float-left" v-if="selectedStock" v-text="(  selectedStock.has_discount === 'y' ? selectedStock.discount_price : selectedStock.price) +' ₺'"></h2>
              <h2 class="float-left ml-3" v-if="selectedStock && selectedStock.has_discount === 'y'" > <del>{{selectedStock.price}} ₺</del></h2>

              <div class="clearfix"></div>

              <ul class="list">
              <!--  <li><a class="active" :href="'/'+categoryName(product.categories).slug"><span>Kategori</span> : {{categoryName(product.categories).name.tr}}</a></li>-->
                <li><a href="#"><span>Stok Durumu</span> : {{selectedStock ? 'Mevcut' : 'Stokta Mevcut Değil'}}</a></li>
              </ul>
              <span v-html="product.styled_title.tr"></span>
              <div class="stock">

                <ul class="colorStock">
                  <li
                          v-for="stock in product.stocks"

                          @click="changeStock(stock)">

                   <div class="attributes" v-if="stock.status == 'a' && stock.attributes && stock.attributes.length">
                     <div  v-if="stock.attributes[0] && stock.attributes[0].type === 'cartel'">
                       <img :src="stock.attributes[0].value" :alt="stock.attributes[0].name" width="100%">
                     </div>
                     <div v-else :style="'background:'+stock.attributes[0].value"></div>
                     <p class="sku-item">{{stock.sku}}</p>
                   </div>
                    <div v-else  class="attributes" >
                      <div></div>
                      <p class="sku-item">{{stock.sku}}</p>
                    </div>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>


              <div class="product_select" v-if="selectedStock">
                <label for="year" class="col-2">Model Yılı:</label>
                <select class="col-9" name="model" id="year" v-model="selectedModelYear">
                  <option value="0" selected>Model Yılı</option>
                  <option v-for="i in modelArray" :value="i" >{{i}}</option>
                </select>
              </div>
              <div class="clearfix"></div>

              <div class="product_select" v-if="selectedStock && selectedStock.models && selectedStock.models.length > 0">
                <label for="model" class="col-2">Model:</label>
                <select name="model" id="model" class="col-9" v-model="selectedModel">
                  <option value="0" selected>Model Seçiniz</option>
                  <option v-for="i in selectedStock.models" :value="i.id" >{{i.name.tr}}</option>
                </select>
              </div>
              <div class="clearfix"></div>

              <div class="product_count" v-if="selectedStock">
                <label for="sst">Adet:</label>
                <input type="text" name="qty" id="sst" maxlength="12" :value="qtyVar" title="Quantity:" class="input-text qty">
                <button @click="qty('inc')" class="increase items-count" type="button">
                  <i class="fa fa-chevron-up"></i></button>
                <button @click="qty('dec')" class="reduced items-count" type="button"><i class="fa fa-chevron-down"></i></button>
              </div>

              <div class="card_area">
                <button class="main_btn"v-if="selectedStock" @click="addToCart">Sepete Ekle</button>
                <!--<a class="icon_btn" href="#"><i class="fa fa-diamond"></i></a>
                <a class="icon_btn" href="#"><i class="fa fa-heart"></i></a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item description-nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Açıklama</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" v-html="product.detail.tr">
          </div>
        </div>
      </div>
    </section>
    <!--================End Product Description Area =================-->

  </div>
</template>
<script>
  import HomeBrand from '~/components/home/HomeBrand'
  import Sellers from '~/components/home/Sellers'
  import {mapState} from 'vuex'
  import Product from '~/components/common/Product'

  export default {
    head: {
      title :'Ürünler | MarkaXD Oto Paspas',
      link: [

      ],
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    },

    components:{
      HomeBrand,
      Sellers,
      Product
    },

    data(){
      return{
        loading: false,
        cdnUrl : process.env.cdn_url+'images/product/',
        qtyVar : 1,
        modelArray : [],
        selectedStock: null,
        selectedModel : null,
        selectedModelYear: 0
      }
    },
    created(){
      for (let i = 2000; i < 2021; i++) {
        this.modelArray.push(i)
      }
      if(this.product && this.product.stocks && this.product.stocks.length > 0) {
        this.selectedStock =  this.product.stocks[0];
      }else{
        //this.$router.push('/')
      }
    },
    computed:{
      ...mapState('state_definition',{
        product : state => state.product,
      }),
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getProduct', {slug:params.slug}).then((response)=>{
        this.loading = true;
        let model = store.state.state_definition.product;
        if(model !== null){
          this.head.link.push({rel: 'canonical', href : process.env.base_url+'/'+(model.seo_information.canonical !== null) ? model.seo_information.canonical : model.url});
          let title = (model.seo_information.meta_title.tr ? model.seo_information.meta_title.tr :  model.title.tr) +' | MarkaXD Oto Paspas';
          this.head.title = title;
          let description = model.seo_information.meta_title.tr ? model.seo_information.meta_title.tr :  'MarkaXD, aracınıza uygun paspas modelleri, özel tasarımlar ve uygun fiyata bulabileceğiniz tek adres';
          this.head.meta.push(
                  { hid: 'description', name: 'description', content: description},
                  { hid: 'og:url', property: 'og:url', content: 'https://markaxd.com/'+(model.url !== null) ? model.url : ''},
                  { hid: 'og:title', property: 'og:title', content:  title +' | MarkaXD Oto Paspas' },
                  { hid: 'og:description', property: 'og:description', content: description },
                  { hid: 'twitter:title', property: 'twitter:title',  content:  title +' | MarkaXD Oto Paspas' },
                  { hid: 'twitter:description', property: 'twitter:description', content: description}
          )
        }
      });
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    },
    methods:{
      changeStock(stock){
        this.selectedStock = stock;
        console.log(stock);
      },
      categoryName(categories){
        let category = null;
        categories.forEach(item =>{
          if (item.parent === null){
            category = item;
          }
        });
        return category;
      },
      qty(q){
        this.qtyVar = q === 'inc' ? this.qtyVar + 1 :  (this.qtyVar > 0 ? this.qtyVar -1 : 0);
      },
      addToCart(){
        if (!this.selectedModelYear) {
          this.$toast.error('Lütfen bir model yılı seçiniz');
          return;
        }
        if (!this.selectedModel) {
          this.$toast.error('Lütfen bir model seçiniz');
          return;
        }
        this.$store.dispatch('state_definition/addCart',{stock_id:this.selectedStock.id,
          quantity:this.qtyVar, modelYear : this.selectedModelYear, model: this.selectedModel}).then(()=>{
          this.$toast.success('Sepete Eklendi...');
        });
      },
    }

  }
</script>
<style>
  .description-nav-item{
    float: none;
  }
  .product_select{
    margin-top: 15px;
  }
  .product_select label {
    padding: 0;
    font-size: 14px;
  }
  .product_select select{
    height: 30px;
    border-radius: 1px;
    border: 1px solid;
  }
  .sku-item{
    text-align: center;
    line-height: 10px;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 10px;
    padding-top: 5px !important;
  }
  .itemImage{
    width: 100%;
  }
</style>
