<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">

                    </div>
                </div>
            </div>
        </section>
        <section class="cat_product_area p_120">
            <div class="container "> <!-- border-info, border-success, border-dark -->
                <div class="row ">
                    <side-bar :user="user"></side-bar>
                    <div class="col-lg-9">
                        <div class="product_top_bar">
                            <div class="left_dorp">
                                <h3>Adreslerim <a href="javascript:;" style="float: right" @click="newAddress"><i class="fa fa-plus"></i></a></h3>
                            </div>
                        </div>
                        <div class="latest_product_inner row" v-if="user">
                            <div class="col-lg-12 pl-4">
                                <div class="form-inline">
                                    <div class="row contact_form col-8">
                                        <div class="col-md-12">
                                            <div  class=" e-large col-md-3 addresses" v-if="addresses.length" v-for="address in addresses">
                                                <div class="address-detail default-border genric-btn mb-1">
                                                    <h6 class="address-title">{{getCity(address.city)}}</h6>
                                                    <hr>
                                                    <p class="address-description">{{address.address_detail}} </p>
                                                </div>
                                                <a href="javascript:;"
                                                   @click="editUserAddress(address)"
                                                   class="success-border genric-btn editAddress col-6 p-0 float-left mr-lg-">Düzenle</a>
                                                <a href="javascript:;"
                                                   @click="deleteAddress(address)"
                                                   class="danger-border genric-btn editAddress col-5 p-0 float-right ">Sil</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <modal height="auto"
               width="478"
               name="address-modal"
               :draggable="true"
               :classes="['v--modal', 'm-modal']">
            <div class="modal-body">
                <div class="container-fluid">
                    <Address :busAddress="busAddress"></Address>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-simple btn-sm px-3" @click="$modal.hide('edit-address')">Kapat</button>
                <button type="button" class="btn btn-primary btn-sm btn-round btn-fill px-4" @click="saveAddress">Ekle</button>
            </div>
        </modal>
    </div>
</template>

<script>
  import axios from 'axios'
  import SideBar from './leftSidebar'
  import Address from '@/components/common/Address.vue';
  import Vue from 'vue';
  export default {
    head: {
      title :'Adreslerim | MarkaXD Oto Paspas',
      link: [

      ],
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    },
    components:{
      Address,
      SideBar
    },
    data(){
      return{
        user: null,
        bus: new Vue(),
        addresses : [],
        api_url : process.env.base_url,
        busAddress : {
          errorResponse: null,
          guest: true,
          error : {
            first_name : null,
            last_name : null,
            phone_number : null,
            email : null,
            city: null,
            district : null
          },
          address : {
            id: null,
            first_name : null,
            last_name : null,
            phone_number: null,
            email: null,
            city: 0,
            district : 0,
            address_detail : null
          },
          api_url : process.env.api_url
        },
        cities: []
      }
    },
    created() {

      if(!process.server){

        this.bus.$on('success', item => {
          _this.successAddress();
        });

        this.$store.dispatch('state_auth/checkLogin').then(response =>{
          this.user = response.result && response.result.set && response.result.set.user ? response.result.set.user : []
        }).catch(err =>{
          this.user = null
        });

        let _this = this;
        this.$store.dispatch('state_auth/getAddress').then(function (response) {
          _this.addresses = response.result.set;
        });
        axios.get(this.api_url+'/address/city').then(response =>{
          this.cities  = response.data.result.set;
        }).catch( error =>{ console.log('Beklenmedik Bir Hata :(')  } );

      }

    },
    methods:{
      getCity(city){
        let item = null;
        if (city === null && this.cities === null) {
          return;
        }
        item = this.cities.find(val =>{
          return val.id === city
        });
        return item  ? item.name : '';
      },
      editUserAddress(address){
        if (address === null) {
          return;
        }
        this.busAddress.address = address;
        this.$modal.show('address-modal');
      },
      deleteAddress(address){
        let _this = this;
        this.$store.dispatch('state_auth/deleteAddress', {id:address.id}).then(response =>{
          this.$toast.success('Adres Silindi');
          _this.addresses = response.result.set;
        });
      },
      newAddress(){
        this.$modal.show('address-modal');
      },
      saveAddress(){
        let data = this.busAddress.address;
        this.$store.dispatch('state_auth/saveAddress', {data}).then(response =>{
          this.$toast.success('Adres Eklendi');
          this.addresses = response.result.set;
          this.$modal.hide('address-modal');
        }).catch(e =>{
          this.$toast.error('Bir sorun oluştu.');
          //this.$router.push({path:'/cart'})
        });
      },
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
    }
  }
</script>
