<template>
    <div>
        asdasd
    </div>
</template>
<script>
    export default {
      data(){
        return{
          test : 'aaaa'
        }
      },
      async fetch ({ store, params }) {
        await store.dispatch('state_definition/getAllCategory');
        await store.dispatch('state_definition/instagramFeed');
      }
    }
</script>
