<template>

        <div class="col-3 float-left">
            <div class="left_sidebar_area">
                <aside class="left_widgets cat_widgets">
                    <div class="l_w_title">
                        <h3>{{user && user.name ? user.name : 'MARKAXD'}}</h3>
                    </div>
                    <div class="widgets_inner">
                        <ul class="list">
                            <li><nuxt-link to='/user/profile'>Hesabım</nuxt-link></li>
                            <li><nuxt-link to='/user/address'>Adreslerim</nuxt-link></li>
                            <li><nuxt-link to='/user/orders'>Siparişlerim</nuxt-link></li>
                            <li><nuxt-link to='/user/logout'>Çıkış Yap</nuxt-link></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>

</template>

<script>
    export default {
      props : ['user']
    }
</script>
