<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">

                    </div>
                </div>
            </div>
        </section>
        <section class="cat_product_area p_120">
            <div class="container " v-if="orders.length > 0"> <!-- border-info, border-success, border-dark -->
                <h1>Siparişlerim</h1>
                <hr>

                <div    style="float: left; margin-right: 20px"
                        :class="'col-md-2 text-center order_box border radius mb-20 ' + (order.status === 'p' ? 'border-info' : order.status === 's' ? 'border-success' : 'border-warning')"
                        v-for="order in orders">
                    <h4>{{order.status === 'p' ? 'Onay Bekliyor ' : order.status === 's' ? 'Teslim Edildi' : 'İptal Edildi'}}</h4>
                    <p>{{order.created_at}}</p>
                    <p>{{order.order_number}}</p>
                    <p>{{order.total_price+' ₺'}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
    </div>
</template>
<script>

  import {mapState} from 'vuex';

    export default {
      head: {
        title :'Siparişlerim | MarkaXD Oto Paspas',
        link: [

        ],
        meta: [
          { charset: 'utf-8' },
          { name: 'viewport', content: 'width=device-width, initial-scale=1' },
        ],
      },
      data(){
        return{
        }
      },
      computed:{
        ...mapState('state_auth',{
          _orders : state => state.orders
        }),
        "orders": function(){
          return this._.cloneDeep(this._orders);
        }
      },
      created(){
        if(!process.server){
          this.$store.dispatch('state_auth/checkLogin').then(response =>{
          }).catch(e =>{
            this.$toast.error('Giriş Başarısız');
            this.$router.push({path:'/login'})
          });

          this.$store.dispatch('state_auth/getAllOrders');
        }


      },
      async fetch ({ store, params }) {
        await store.dispatch('state_definition/getAllCategory');
        await store.dispatch('state_definition/instagramFeed');
      }
    }
</script>
