<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">

                    </div>
                </div>
            </div>
        </section>
        <section class="cat_product_area p_120">
            <div class="container "> <!-- border-info, border-success, border-dark -->
                <div class="row ">
                    <side-bar :user="user"></side-bar>
                    <div class="col-lg-9">
                        <div class="product_top_bar">
                            <div class="left_dorp">
                               <h3>Profil</h3>
                            </div>
                        </div>
                        <div class="latest_product_inner row" v-if="user">
                            <div class="col-lg-12 pl-4">
                                <div class="form-inline">
                                    <div class="row contact_form col-8">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-4">Adınız Soyadınız</label>
                                                <input type="text"
                                                       class="form-control col-8"
                                                       placeholder="Enter your name"
                                                       v-model="user.name"
                                                >
                                            </div>
                                           <div class="form-group">
                                                <label class="col-4">E-Posta Adresiniz</label>
                                                <input type="text"
                                                       class="form-control col-8"
                                                       placeholder="Enter your name"
                                                       v-model="user.email"
                                                >
                                            </div>
                                           <div class="form-group">
                                                <label class="col-4">Telefon Numaranız</label>
                                               <input-mask class="form-control col-8"
                                                           placeholder="Telefon Numaranız"
                                                           v-model="user.personal_info.phone.number"
                                                           mask="\909999999999" maskChar="" />

                                            </div>

                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button type="submit" value="submit" class="btn submit_btn" @click="updateUser">Güncelle</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import SideBar from './leftSidebar'
    export default {
      head: {
        title :'Profilim | MarkaXD Oto Paspas',
        link: [

        ],
        meta: [
          { charset: 'utf-8' },
          { name: 'viewport', content: 'width=device-width, initial-scale=1' },
        ],
      },
      components:{
        SideBar
      },
      data(){
        return{
          user: null
        }
      },
      created() {
        if(!process.server){
          this.$store.dispatch('state_auth/checkLogin').then(response =>{
            this.user = response.result && response.result.set && response.result.set.user ? response.result.set.user : []
          }).catch(err =>{
            this.user = null
          });
        }
      },
      methods:{
        updateUser(){
          this.$store.dispatch('state_auth/updateProfile', {user:this.user}).then(response =>{
            this.$toast.success('Profiliniz Güncellendi');
          }).catch(err =>{
            this.$toast.error('Bir sorun oluştu.');
          });
        }
      },
      async fetch ({ store, params }) {
        await store.dispatch('state_definition/getAllCategory');
      }
    }
</script>
