<template>
  <div>
    <header class="header_area">
      <top-menu/>
      <Navbar/>
    </header>
    <nuxt />

    <footer-tab/>
  </div>
</template>

<style>
</style>


<script>
  import TopMenu from '@/components/common/TopMenu'
  import Navbar from '@/components/common/Navbar'

  import FooterTab from '@/components/common/FooterTab'

  export default {
    components:{
      Navbar,
      TopMenu,
      FooterTab,

    },
    mounted(){
      this.$store.dispatch('state_definition/storageToState');
    }
  }
</script>
