<template>
  <section class="tracking_box_area p_120">
    <div class="container mt-25">
      <hr>
      <h1 class="error-message">
        {{ error.statusCode }}
      </h1>
      <h2 class="error-message">
        {{ error.message }}
      </h2>
      <hr>
    </div>
  </section>
</template>
<script>

	export default {
		props: ['error']
	}
</script>
<style>
  .error-message{
    text-align: center;
  }
</style>