<template>
  <div>
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content text-center">

          </div>
        </div>
      </div>
    </section>
    <section class="cat_product_area p_120">
      <div class="container">

        <div class="row flex-row-reverse" v-if="category && category.length">
          <div class="col-lg-3 mobile-show box-detail" v-if="category[0].categories[0].children.length > 0">
            <div class="left_sidebar_area">
              <aside class="left_widgets cat_widgets">
                <div class="l_w_title">
                  <h3>Kategoriler</h3>
                </div>
                <div class="widgets_inner">
                  <no-ssr>
                    <v-select :options="itemOptions"
                              v-model="selectedCategory"
                              :reduce="category => category.code" label="category"/>
                  </no-ssr>
                </div>
              </aside>
            </div>
          </div>
          <div :class="'box-detail '+(category[0].categories[0].children.length > 0  ? 'col-lg-9' : 'col-lg-12')">
            <div class="product_top_bar">
              <div class="float-left category-title">
                <div v-if="category[0].categories[0] && category[0].categories[0].name">{{category[0].categories[0].name.tr}}</div>
              </div>
              <!--<div class="float-right ml-auto">-->
              <!--<nav class="cat_page" aria-label="Page navigation example">-->
              <!--<ul class="pagination">-->
              <!--<li class="page-item">-->
              <!--<a class="page-link" href="#">-->
              <!--<i class="fa fa-long-arrow-left" aria-hidden="true"></i>-->
              <!--</a>-->
              <!--</li>-->
              <!--<li class="page-item active">-->
              <!--<a class="page-link" href="#">1</a>-->
              <!--</li>-->
              <!--<li class="page-item">-->
              <!--<a class="page-link" href="#">2</a>-->
              <!--</li>-->
              <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
              <!--<li class="page-item blank"><a class="page-link" href="#">...</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">6</a></li>-->
              <!--<li class="page-item"><a class="page-link" href="#">-->
              <!--<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>-->
              <!--</li>-->
              <!--</ul>-->
              <!--</nav>-->
              <!--</div>-->
              <div class="clearfix"></div>
            </div>
            <div class="feature_p_slider owl-carousel product-list"  v-lazy-container="{ selector: 'img' }">
              <product v-for="productItem in category"  :product="productItem" :key="productItem.id"></product>
            </div>
          </div>
          <div class="col-lg-3 mobile-hide" v-if="category[0].categories[0].children.length > 0">
            <div class="left_sidebar_area">
              <aside class="left_widgets cat_widgets">
                <div class="l_w_title">
                  <h3>Kategoriler</h3>
                </div>
                <div class="widgets_inner">
                  <ul class="list">
                    <li v-for="child in category[0].categories[0].children"><a :href="'/'+child.slug">{{child.name.tr}}</a></li>
                  </ul>
                </div>
              </aside>
            </div>
          </div>
        </div>
        <div class="row product-notFound" v-else>
          <h3>Bu kategoriye ait ürün bulunamadı.</h3>
        </div>
      </div>
    </section>
  </div>
</template>
<style>
  .box-detail{
    padding-right: 20px;
    padding-left: 3px;
  }
</style>
<script>
  import HomeBrand from '~/components/home/HomeBrand'
  import Sellers from '~/components/home/Sellers'
  import {mapState} from 'vuex'
  import Product from '~/components/common/Product'

  export default {
    head: {
      title :'5D Havuzlu Paspas | MarkaXD Oto Paspas',
      link: [

      ],
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    },
    components:{
      HomeBrand,
      Sellers,
      Product
    },
    data(){
      return{
        cdnUrl : process.env.cdn_url+'images/category/',
        options: [],
        selectedCategory: []
      }
    },
    watch:{
      'selectedCategory': function (item) {
        this.$router.push('/'+item)
      }
    },

    computed:{
      ...mapState('state_definition',{
        category : state => state.category,
      }),
      "itemOptions": function() {
        return this.category[0].categories[0].children.map(item => {
          return {
            code: item.slug,
            category: item.name.tr
          }
        })
      }
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getCategoryOfProduct', {category:params.category}).then((response)=>{
        let categoryDetail = store.state.state_definition.category;
        if(categoryDetail !== null && categoryDetail.length){
          this.head.link.push({rel: 'canonical', href : process.env.base_url+'/'+(categoryDetail[0].categories[0].slug !== null) ? categoryDetail[0].categories[0].slug : ''});
          this.head.title = categoryDetail[0].categories[0].name.tr +' | MarkaXD Oto Paspas';
          let description = categoryDetail[0].categories[0].description ? categoryDetail[0].categories[0].description.tr : 'MarkaXD, aracınıza uygun paspas modelleri, özel tasarımlar ve uygun fiyata bulabileceğiniz tek adres';
          this.head.meta.push(
                  { hid: 'description', name: 'description', content: description},
                  { hid: 'og:url', property: 'og:url', content: 'https://markaxd.com/'+(categoryDetail[0].categories[0].slug !== null) ? categoryDetail[0].categories[0].slug : ''},
                  { hid: 'og:title', property: 'og:title', content:  categoryDetail[0].categories[0].name.tr +' | MarkaXD Oto Paspas' },
                  { hid: 'og:description', property: 'og:description', content: description },
                  { hid: 'twitter:title', property: 'twitter:title',  content:  categoryDetail[0].categories[0].name.tr +' | MarkaXD Oto Paspas' },
                  { hid: 'twitter:description', property: 'twitter:description', content: description}
          )
        }
      });
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }
  }
</script>
