<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                    </div>
                </div>
            </div>
        </section>
        <!--================Checkout Area =================-->
        <section class="checkout_area p_120">
            <div class="container">
                <div class="billing_details">
                    <div class="row">
                        <div class="address-area col-lg-8">
                            <div class="col-md-12">
                                <h3>Adreslerim <a href="javascript:;" style="float: right" @click="newAddress"><i class="fa fa-plus"></i></a></h3> <p></p>
                                <div  class=" e-large col-md-3 addresses" v-if="addresses.length" v-for="address in addresses">
                                    <div @click="selectedAddress(address)" class="address-detail default-border genric-btn">

                                        <h6 class="address-title">{{getCity(address.city)}}</h6>
                                        <hr>
                                        <p class="address-description">{{address.address_detail}} </p>
                                    </div>
                                    <a href="javascript:;" @click="editAddress(address)" class="success-border genric-btn editAddress">Düzenle</a>
                                </div>
                            </div>
                            <div class="clearfix" style="clear: both"></div>
                            <div class="col-md-12" v-if="selectedAddressItem">
                                <h3>Teslimat Adresi</h3>
                                <div  class=" e-large col-md-3 addresses">
                                    <div class="address-detail default-border genric-btn">
                                        <h6 class="address-title">{{getCity(selectedAddressItem.city)}}</h6>
                                        <hr>
                                        <p class="address-description">{{selectedAddressItem.address_detail}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <Summary :bus="bus" />
                    </div>
                </div>
            </div>
        </section>
        <modal height="auto"
               width="478"
               name="address-modal"
               :draggable="true"
               :classes="['v--modal', 'm-modal']">
            <div class="modal-body">
                <div class="container-fluid">
                    <Address :busAddress="busAddress"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-simple btn-sm px-3" @click="$modal.hide('edit-address')">Kapat</button>
                <button type="button" class="btn btn-primary btn-sm btn-round btn-fill px-4" @click="saveAddress">Ekle</button>
            </div>
        </modal>
    </div>
</template>

<script>
  import Vue from 'vue';
  import Summary from "../components/common/Summary";
  import Address from '@/components/common/Address.vue';
  export default {

    components:{
      Summary,
      Address
    },

    head: {
      title :'Adres Seçimi | MarkaXD Oto Paspas',
      link: [

      ],
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    },

    data(){
      return {
        cargoPrice: 0,
        bus: new Vue(),
        addresses: [],
        cities: [],
        selectedAddressItem:null,
        busAddress : {
          errorResponse: null,
          guest: true,
          error : {
            first_name : null,
            last_name : null,
            phone_number : null,
            email : null,
            city: null,
            district : null
          },
          address : {
            id: null,
            first_name : null,
            last_name : null,
            phone_number: null,
            email: null,
            city: 0,
            district : 0,
            address_detail : null
          },
          api_url : process.env.api_url
        },
      }
    },
    created(){
      if (!process.server){

        let _this = this;

        this.bus.$on('success', item => {
          _this.successAddress();
        });

        this.$store.dispatch('state_auth/checkLogin').then(response =>{
        }).catch(e =>{
          //this.$toast.error('Giriş Başarısız');
          this.$router.push({path:'/cart'})
        });

        this.$store.dispatch('state_auth/getAddress').then(function (response) {
          _this.addresses = response.result.set;

          let address = JSON.parse(localStorage.getItem('address'));

          _this.selectedAddressItem = address && address !== undefined && address !== null ? address : null;
        });

      }
    },
    methods:{
      newAddress(){
        this.$modal.show('address-modal');
      },
      saveAddress(){
        let data = this.busAddress.address;
        this.$store.dispatch('state_auth/saveAddress', {data}).then(response =>{
          this.$toast.success('Adres Eklendi');
          this.addresses = response.result.set;
          this.$modal.hide('address-modal');
        }).catch(e =>{
          this.$toast.error('Bir sorun oluştu.');
          //this.$router.push({path:'/cart'})
        });
      },

      editAddress(address){
        this.busAddress.address = address;
        this.$modal.show('address-modal');
      },

      selectedAddress(address){
        this.selectedAddressItem = address;
      },

      getCity(city){
        if (city === undefined || city === null)
          return;

        let item = this.cities.find(val =>{
          return val.id === city
        });
        return item  ? item.name : '';
      },
      successAddress(){
        if (!this.selectedAddressItem){
          this.$toast.error('Lütfen bir adres seçiniz.');
          return;
        }
        if(!process.server)
          localStorage.setItem('address', JSON.stringify(this.selectedAddressItem));
        this.$router.push({path:'/payment'})
      }
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }

  }
</script>
