<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">

                    </div>
                </div>
            </div>
        </section>
        <section class="cat_product_area p_120">
            <div class="container">
                <p><strong>Bayilik Başvuru Formu</strong></p>
                <p><strong> </strong></p>
                <p><strong> </strong></p>
                <p><strong> </strong></p>
                <h1><strong>Satış Noktası Olmak İstiyorum</strong></h1>
                <p><strong> </strong></p>
                <table width="623">
                    <tbody>
                    <tr>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Çalışma Modeliniz **</p>
                        </td>
                        <td colspan="2">
                            <p>  Toptancı  Perakende  Yerel Market  E-Ticaret Firması  Diğer    </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Firma Adı / Ticari Unvanını *</p>
                        </td>
                        <td colspan="2">
                            <p> </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Adresiniz *</p>
                        </td>
                        <td colspan="2">
                            <p> </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Şehir *</p>
                        </td>
                        <td colspan="2">
                            <p> </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Telefon *</p>
                        </td>
                        <td colspan="2">
                            <p> </p>
                        </td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td colspan="2">
                            <p> </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Vergi Dairesi</p>
                        </td>
                        <td colspan="2"> </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Vergi Numarası</p>
                        </td>
                        <td colspan="2"> </td>
                    </tr>
                    <tr>
                        <td>
                            <p>E-Postanız</p>
                        </td>
                        <td colspan="2"> </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Web Siteniz</p>
                        </td>
                        <td colspan="2"> </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Firma Kuruluş Tarihi</p>
                        </td>
                        <td colspan="2"> </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Firma Sahibi / Yetkili Kişi *</p>
                        </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    </tbody>
                </table>
                <p> </p>
                <p><strong> </strong></p>
                <p> </p>
            </div>
        </section>
    </div>
</template>
<script>
  export default {
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }
  }
</script>
