<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">

                    </div>
                </div>
            </div>
        </section>
        <section class="cat_product_area p_120">
            <div class="container">
                <h3>Bayilerimiz</h3>
                <br>
                <p><strong>Van Bayi </strong></p>
                <p>Özkan Oto Aksesuar</p>
                <p>Hafiziye, Uzun Sk. No:110, 65150 Alabayır Köyü <br>Merkez/Van</p>
                <br>
                <p><strong>Diyarbakır Bayi </strong></p>
                <p>Toprak Oto </p>
                <p>3.sanayi sitesi z-blok no 31 <br>Kayapınar/DİYARBAKIR</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </section>
    </div>
</template>
<script>

    export default {
      head: {
        title :'Bayilerimiz | MarkaXD Oto Paspas',
        link: [

        ],
        meta: [
          { charset: 'utf-8' },
          { name: 'viewport', content: 'width=device-width, initial-scale=1' },
        ],
      },
      async fetch ({ store, params }) {
        await store.dispatch('state_definition/getAllCategory');
        await store.dispatch('state_definition/instagramFeed');
      }
    }
</script>
