<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">

                    </div>
                </div>
            </div>
        </section>
        <section class="cat_product_area p_120">
            <div class="container">
                <h3>Bize Ulaşın</h3>

                <p><a href="tel://+908504410775" class=""><i class="fa fa-phone"></i> Ofis :+90 850 441 0775</a></p>
                <p><a href="https://wa.me/905072787575?text=Merhabalar+%2C%0D%0A%0D%0AL%C3%BCfen+Arac%C4%B1n%C4%B1z%C4%B1n+Marka+ve+Modelini+yaz%C4%B1n%C4%B1z."
                      target="_blank"><i class="fa fa-whatsapp"></i> Whatsapp: +90 555 086 7575</a></p>
                <p><a href="tel://+905072787575" class=""><i class="fa fa-phone"></i> Satış - Destek +90 850 441 0775</a></p>
                <h4>Van Ofis</h4>
                <p>Hafiziye mah. Türközü sok. 1013/5 <br>VAN/İPEKYOLU</p>
            </div>
        </section>
    </div>
</template>
<script>
  export default {
    head: {
      title :'Bize Ulaşın | MarkaXD Oto Paspas',
      link: [

      ],
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }
  }
</script>
