<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">

                    </div>
                </div>
            </div>
        </section>
        <!--================Checkout Area =================-->
        <section class="checkout_area p_120">
            <div class="container">

                <div class="billing_details">
                    <div class="row">
                        <div class="col-md-8 col-12">
                            <Address :busAddress="busAddress"/>
                        </div>
                        <Summary :bus = "bus"/>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Checkout Area =================-->
    </div>
</template>

<script>
  import Vue from 'vue'
  import axios from "axios";
  import Address from '@/components/common/Address.vue';
  import PaymentType from '@/components/common/PaymentType.vue';
  import Summary from '@/components/common/Summary.vue';
  export default {
    components:{
      Address,
      PaymentType,
      Summary
    },
    head: {
      title :'Alışverişi Tamamla | MarkaXD Oto Paspas',
      link: [

      ],
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    },
    data(){
      return {
        bus: new Vue(),
        busAddress : {
          errorResponse: null,
          guest:true,
          error : {
            first_name : null,
            last_name : null,
            phone_number : null,
            email : null,
            city: null,
            district : null
          },
          address : {
            id: null,
            first_name : null,
            last_name : null,
            phone_number: null,
            email: null,
            city: 0,
            district : 0,
            address_detail : null
          }
        }
      }
    },
    created(){
      let _this = this;

      if (process.client){
        this.$store.dispatch('state_auth/checkLogin').then(response =>{
          let user = response.result && response.result.set && response.result.set.user ? response.result.set.user : null;
          if (user)
            this.$router.push({path:'/cart'})
        }).catch(e =>{
          return e;
        });

        let address = localStorage.getItem('address');
        if (address)
          _this.busAddress.address = JSON.parse(address);
      }

      this.bus.$on('success', function () {

        if (!_this.busAddress.address.address_detail){
          this.$toast.error('Lütfen adres detayını giriniz.');
        }

        if (!_this.busAddress.address.city){
          this.$toast.error('Lütfen bir il seçiniz.');
        }

        if (!_this.busAddress.address.district){
          this.$toast.error('Lütfen bir ilçe seçiniz.');
        }

        if (!_this.busAddress.address.email){
          this.$toast.error('Lütfen bir e-posta adresi giriniz.');
        }

        if (!_this.busAddress.address.email){
          this.$toast.error('Lütfen bir e-posta adresi giriniz.');
        }

        if (!_this.busAddress.address.phone_number){
          this.$toast.error('Lütfen bir telefon numarası giriniz.');
        }

        if (!_this.busAddress.address.first_name){
          this.$toast.error('Lütfen adınızı giriniz.');
        }

        if (!_this.busAddress.address.last_name){
          this.$toast.error('Lütfen soyadınızı giriniz.');
        }

        if (!_this.busAddress.address.address_detail  ||
          !_this.busAddress.address.city     ||
          !_this.busAddress.address.district    ||
          !_this.busAddress.address.email       ||
          !_this.busAddress.address.phone_number       ||
          !_this.busAddress.address.first_name   ||
          !_this.busAddress.address.last_name   )
          return;

        localStorage.setItem('address', JSON.stringify(_this.busAddress.address));
        _this.$router.push({path:'/payment'})
      })
    },

    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }
  }
</script>
