<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">

                    </div>
                </div>
            </div>
        </section>
        <section class="cat_product_area p_120">
            <div class="container">

                <h3>HAKKIMIZDA</h3>
                <p>İstanbul merkezli olan, <b> MARKA XD Otomotiv GroupTürk Patent Kurumundan tescilli bir markadır.</b><br>
                    xD-5d havuzlu Taban kaplama (paspas) üretimi yapan öncü ve yenilikçi marka olarak araçlarınıza değer ve yenilik katıyoruz.
                    2018 yılından beri online faliyette bulunarak 1991 beri perakande olarak da Türkiye iç pazarında hizmet vermekteyiz.
                    Araçlara özel aksesuar ve kaliteli ürünlerle hizmet vermekten gurur ve onur duyarız.
                    Özel üretimle beraber bir çok markayı bünyemizde bulundurarak Uzman ve deneyimli ekibimizle sizler için en iyi ürün ve hizmeti sunmaktayız.
                    İstanbul ofisi, Van ofisi ve Adana ofis ve fabrikalarımız vardır.</p>

                <h3>Vizyonumuz</h3>
                <p>Uluslararası platformda tanınmak, dünya standartlarında,
                    çagdaş yenilikleri takip eden ve yeniliklere öncülük eden,
                    otomobil markaları tarafından örnek alınan  üretici, dağıtıcı bir marka olmak.
                    Yurt içinde ve yurt dısında ithalat ve ihracat yapmak, en yüksek kalitede hizmet vermek,
                    müşterilerimize  kendilerine  güven  içinde  alışveriş yapmalarını sağlamak ve tüm beklentilerinin karşılandığı otomotiv bayileri oluşturmak hedefimiz.</p>

                <h3>Misyonumuz</h3>
                <p>Toplumun her kesiminden müşteriye  yüksek kalitede hizmet sunmak, otomotiv sektöründe bayilikler verip iş imkanı yaratarak ülkemize hizmet etmek, personelimizin sürekli gelişmesini ve güven içinde mutlu çalışmasını sağlamak.</p>

                <h3>Kalite Hedeflerimiz</h3>
               <p> Herkese eşit ve bütüncül yaklaşımla yüksek kalitede sağlık hizmeti sunmak.</p>
                <p>Bayilik ve anlaşmalı fabrikalarımızda istihdam yaratmak.</p>
                <p>Uluslar arası standartlarda sağlık hizmeti vermek.</p>
                <p>Gerek Türkiye gerekse yurtdışında otomotiv  sektöründe lider konumda olacak bayilikler zinciri oluşturmak.</p>
                <p>Hizmet verdiğimiz tüm insanlara yüksek kalitede hizmet  kalitesi sağlamak.</p>
                <p>Sevgi ve saygının yoğun olduğu ve tüm çalışanların sunduğu hizmetten tatmin olduğu bir çalışma ortamı yaratmak.</p>

                <h3>Değerlerimiz</h3>
                <p>Güvenilir çalışma alanı ve hizmet alanı</p>
                <p>Hakkaniyetli bir sağlık hizmeti</p>
                <p>Yeniliklere açıklık</p>
                <p>Etik kurallara bağlılık</p>
                <p>Müşteri haklarına saygılı</p>
                <p>Takım ruhuna sahip bir çalışma ortamı</p>
                <p>Verimli, etkili, etkin ve sürekli bir  hizmet sunumu</p>

                <h3>Çalışma Saatlerimiz</h3>

                <p>Hafta içi: 09:30 - 18:00</p>
                <p>Cumartesi: 10:00 - 13:00</p>

                <h3>Kargo Saatlerimiz</h3>
                <p>Hafta içi: 09:30 - 17:30</p>
                <p>Cumartesi: 10:00 - 13:00</p>
            </div>
        </section>
    </div>
</template>
<script>
  export default {
    head: {
      title :'Hakkımızda | MarkaXD Oto Paspas',
      link: [

      ],
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }
  }
</script>
