<template>
  <div>
    <banner :banners="banners"/>
    <new-product :newProducts="newProducts" :showCase="showCase"/>
    <home-brand/>
    <sellers :discountProducts="discountProducts"/>
  </div>
</template>
<script>
  import Banner from '~/components/common/Banner'
  import NewProduct from '~/components/home/NewProduct'
  import HomeBrand from '~/components/home/HomeBrand'
  import Sellers from '~/components/home/Sellers'
  import {mapState, mapActions} from 'vuex'

  export default
  {
    components:{
      Banner,
      NewProduct,
      HomeBrand,
      Sellers
    },
    head: {
      link: [
        {rel: 'canonical', href : process.env.base_url}
      ]
    },
    computed:{
      ...mapState('state_definition',{
        banners : state => state.banners,
        newProducts :  state =>state.newProducts,
        showCase : state => state.showCase,
        discountProducts : state => state.discountProducts,
      }),

    },

    created(){
      this.$store.dispatch('state_definition/storageToState')

    },

    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllBanners');
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/getAllShowCase');
      await store.dispatch('state_definition/getAllNewProducts',{
        filter: {
          limit: 8,
          offset: 0,
          sort:'id',
          order:'desc',
          'query[is_new]':'y',
          'query[status]':'a'
        }
      });
      await store.dispatch('state_definition/getAllDiscountProducts',{
        filter: {
          limit: 12,
          offset: 0,
          sort:'id',
          order:'desc'
        }
      });
     // await store.dispatch('state_definition/instagramFeed');

    }
  }
</script>
