<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">

                    </div>
                </div>
            </div>
        </section>
        <!--================Login Box Area =================-->
        <section class="login_box_area p_120">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="login_form_inner">
                            <h3>GİRİŞ YAP</h3>
                            <div class="text-danger" v-text="error"></div>
                            <div class="row login_form" id="contactForm">
                                <div class="col-md-12 form-group">
                                    <!--<button class="btn btn_facebook">Facebook ile Giriş Yap</button>-->
                                    <social-login></social-login>
                                </div>
                                <div class="text-danger" v-text="passwordError"></div>
                                <div class="col-md-12 form-group">
                                    <input type="email" class="form-control" id="email" name="email" v-model="email" placeholder="E-mail Adresiniz">
                                    <div class="text-danger" v-text="emailError"></div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="password" class="form-control" id="password" name="password" v-model="password" placeholder="Şifreniz">
                                    <div class="text-danger" v-text="passwordError"></div>
                                </div>
                                <!--<div class="col-md-12 form-group">
                                    <div class="creat_account">
                                        <input type="checkbox" id="f-option2" name="selector">
                                        <label for="f-option2">Keep me logged in</label>
                                    </div>
                                </div>-->
                                <div class="col-md-12 form-group">
                                    <button class="btn submit_btn" @click="login()">Giriş</button>
                                    <!--<button class="btn btn_facebook">Facebook ile Giriş Yap</button>-->
                                    <nuxt-link to="/">Şifremi unuttum</nuxt-link>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login_box_img">
                            <img class="img-fluid" src="~/assets/img/login.jpg" alt="MarkaXD Login">
                            <div class="hover">
                                <h4>MarkaXD Üye misiniz?</h4>
                                <p>MarkaXD üyelerine ayrıcalıklar var.</p>
                                <nuxt-link class="main_btn" to="/registration">Kayıt Ol</nuxt-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Login Box Area =================-->

    </div>
</template>

<script>
  import SocialLogin from '@/components/common/SocialLogin'

  export default {
    components:{
      SocialLogin
    },
    head: {
      title :'Giriş Yap | MarkaXD Oto Paspas',
      link: [

      ],
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    },
    data(){
      return {
        email: null,
        password: null,
        emailError: null,
        passwordError: null,
        error: null,
        params: {
          client_id: '531604362349-j3c922pkd5ir81u7bm461b464i9im5i5.apps.googleusercontent.com'
        },
        // only needed if you want to render the button with the google ui
        renderParams: {
          longtitle: 'GOOGLE'
        }
      }
    },
    created(){
      if (process.client){
        this.$store.dispatch('state_auth/checkLogin').then(response =>{
          let user = response.result && response.result.set && response.result.set.user ? response.result.set.user : null;
          if (user)
            this.$router.push({path:'/'})
        }).catch(()=>{
          console.log('please login!')
        })
      }

    },
    methods:{
      login(){
        this.emailError = this.email === null ? 'Lütfen bir E-mail adresi giriniz.' : null;

        this.passwordError = this.password === null ? 'Lütfen şifrenizi giriniz.' : null;

        if(this.emailError || this.passwordError)
          return;

        this.$store.dispatch('state_auth/login',{email:this.email, password:this.password})
          .then(response =>{
            location.reload();
            this.$router.push({path:'/my-account'})
          })
          .catch(error =>{
            this.error = error.message;
          });
      }
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }
  }
</script>
