<template>
    <div>
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">

                </div>
            </div>
        </div>
    </section>
    <section class="cat_product_area p_120">
        <div class="container">
            <h3>Mesafeli Satış Sözleşmesi</h3>
            <div>
                <p>1 - TARAFLAR</p>
                <p>SATICI</p>
                <p>Satıcı İsim/Unvanı:<br /> Satıcı&rsquo;nın A&ccedil;ık Adresi:<br /> Satıcı&rsquo;nın Telefonu:<br /> Satıcı Mersis No:<br /> Satıcı E-Posta Adresi :<br /> Alıcı&rsquo;nın İade Halinde Malı Satıcı&rsquo;ya G&ouml;ndereceği Kargo Şirketi:<br /> ALICI</p>
                <p>Adı &ndash; Soyadı :<br /> Adresi :<br /> Telefon :<br /> E-Posta :<br /> S&Ouml;ZLEŞME&rsquo;NİN KONUSU VE KAPSAMI</p>
                <p>İşbu Mesafeli Satış S&ouml;zleşmesi (&ldquo;S&ouml;zleşme&rdquo;) 6502 Sayılı T&uuml;keticinin Korunması Hakkında Kanun (&ldquo;Kanun&rdquo;) ve Mesafeli S&ouml;zleşmeler Y&ouml;netmeliği&rsquo;ne uygun olarak d&uuml;zenlenmiştir. İşbu S&ouml;zleşme&rsquo;nin tarafları işbu S&ouml;zleşme tahtında Kanun&rsquo;dan ve Mesafeli S&ouml;zleşmeler Y&ouml;netmeliği&rsquo;nden kaynaklanan y&uuml;k&uuml;ml&uuml;l&uuml;k ve sorumluluklarını bildiklerini ve anladıklarını kabul ve beyan ederler.</p>
                <p>İşbu S&ouml;zleşme&rsquo;nin konusunu; Alıcı&rsquo;nın, MARKAXD OTOMOTİV GROUP &rsquo;a (&ldquo;MARKAXD Aracı Hizmet Sağlayıcı&rdquo;) ait www.markaxd.com alan adlı web sitesinden (&ldquo;Websitesi&rdquo;), Satıcı&rsquo;ya ait mal veya hizmetin satın alınmasına y&ouml;nelik elektronik olarak sipariş verdiği, S&ouml;zleşme&rsquo;de belirtilen niteliklere sahip mal veya hizmetin satışı ve teslimi ile ilgili olarak Kanun ve Mesafeli S&ouml;zleşmeler Y&ouml;netmeliği h&uuml;k&uuml;mleri gereğince tarafların hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerinin belirlenmesi oluşturur.</p>
                <p>İşbu S&ouml;zleşme&rsquo;nin akdedilmesi tarafların ayrı ayrı MARKAXD ile akdetmiş oldukları Websitesi &Uuml;yelik S&ouml;zleşmeleri&rsquo;nin h&uuml;k&uuml;mlerinin ifasını engellemeyecek olup taraflar işbu S&ouml;zleşme konusu mal veya hizmetin satışında MARKAXD OTOMOTİV GROUP&rsquo;un herhangi bir şekilde taraf olmadığını ve S&ouml;zleşme kapsamında tarafların y&uuml;k&uuml;ml&uuml;l&uuml;klerini yerine getirmeleri ile ilgili herhangi bir sorumluluğu ve taahh&uuml;d&uuml; bulunmadığını kabul ve beyan ederler.</p>
                <p>S&Ouml;ZLEŞME KONUSU MAL VE HİZMETİN TEMEL NİTELİKLERİ VE FİYATI (KDV DAHİL)</p>
                <p>&Uuml;r&uuml;n Kodu Ve Adı</p>
                <p>Adet</p>
                <p>Satici Unvani</p>
                <p>Birim Fiyatı</p>
                <p>Birim İndirimi</p>
                <p>Kupon</p>
                <p>Puan</p>
                <p>Toplam Satış Tutarı</p>
                <p>Vade Farkı</p>
                <p>KDV Dahil Toplam Tutar</p>
                <p>İlan edilen fiyatlar ve vaatler g&uuml;ncelleme yapılana ve değiştirilene kadar ge&ccedil;erlidir. S&uuml;reli olarak ilan edilen fiyatlar ise belirtilen s&uuml;re sonuna kadar ge&ccedil;erlidir.</p>
                <p>Kargo hari&ccedil; toplam &uuml;r&uuml;n bedeli:<br /> Kargo &Uuml;creti:<br /> Kargo Dahil Toplam Bedeli:<br /> &Ouml;deme Şekli ve Planı:<br /> Alınan Vade Farkı:<br /> Vade Farkı hesabında kullanılan faiz oranı:<br /> S&Ouml;Z KONUSU &Uuml;R&Uuml;N BEDELİ, &Ouml;DEME KORUMA SİSTEMİ KAPSAMINDA SATICI ADINA, MARKAXD OTOMOTİV GROUP TARAFINDAN ALICI&rsquo;DAN TAHSİL EDİLMEKTEDİR. ALICI MALIN/HİZMETİN BEDELİNİ MARKAXD OTOMOTİV GROUP &lsquo;A&Ouml;DEMEKLE, &Uuml;R&Uuml;N BEDELİNİ SATICI&rsquo;YA &Ouml;DEMİŞ SAYILACAKTIR.</p>
                <p>MALIN TESLİMİ VE TESLİM ŞEKLİ</p>
                <p>S&ouml;zleşme Alıcı tarafından elektronik ortamda onaylanmakla y&uuml;r&uuml;rl&uuml;ğe girmiş olup, Alıcı&rsquo;nın Satıcı&rsquo;dan satın almış olduğu mal veya hizmetin Alıcı&rsquo;ya teslim edilmesiyle ifa edilmiş olur. Mal, Alıcı&rsquo;nın sipariş formunda ve işbu S&ouml;zleşme&rsquo;de belirtmiş olduğu adrese ve belirtilen yetkili kişi/kişilere teslim edilecektir.</p>
                <p>TESLİMAT MASRAFLARI VE İFASI</p>
                <p>Malın teslimat masrafları aksine bir h&uuml;k&uuml;m yoksa Alıcı&rsquo;ya aittir. Satıcı, Websitesi&rsquo;nde teslimat &uuml;cretinin kendisince karşılanacağını beyan etmişse teslimat masrafları Satıcı&rsquo;ya ait olacaktır.</p>
                <p>Malın teslimatı; &ouml;demenin ger&ccedil;ekleşmesinden sonra taahh&uuml;t edilen s&uuml;rede yapılır. Satıcı, sipariş konusu mal veya hizmetin ediminin yerine getirilmesinin imkansızlaştığı haller saklı kalmak kaydıyla, mal veya hizmeti, Alıcı tarafından mal veya hizmetin sipariş edilmesinden itibaren 30 (otuz) g&uuml;n i&ccedil;inde teslim eder.</p>
                <p>Herhangi bir nedenle Alıcı tarafından mal veya hizmetin bedeli &ouml;denmez veya yapılan &ouml;deme banka kayıtlarında iptal edilir ise, Satıcı mal veya hizmetin teslimi y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;nden kurtulmuş kabul edilir.</p>
                <p>Malın Satıcı tarafından kargoya verilmesinden sonra ve fakat Alıcı tarafından teslim alınmasından &ouml;nce Alıcı tarafından yapılan sipariş iptallerinde kargo bedelinden Alıcı sorumludur.</p>
                <p>Sipariş konusu mal ya da hizmet ediminin yerine getirilmesinin imkansızlaştığı hallerde Satıcı bu durumu &ouml;ğrendiği tarihten itibaren 3 (&uuml;&ccedil;) g&uuml;n i&ccedil;inde Alıcı&rsquo;yı bilgilendirecek ve varsa teslimat masrafları da d&acirc;hil olmak &uuml;zere tahsil edilen t&uuml;m &ouml;demeleri bildirim tarihinden itibaren en ge&ccedil; 14 (on d&ouml;rt) g&uuml;n i&ccedil;inde iade edecektir.</p>
                <p>ALICI&rsquo;NIN BEYAN VE TAAHH&Uuml;TLERİ</p>
                <p>Alıcı, Websitesi&rsquo;nde yer alan S&ouml;zleşme konusu mal veya hizmetin temel nitelikleri, satış fiyatı ve &ouml;deme şekli ile teslimat ve kargo bedeline ilişkin olarak Satıcı tarafından y&uuml;klenen &ouml;n bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder.</p>
                <p>Alıcılar, t&uuml;ketici sıfatıyla talep ve şikayetlerini yukarıda yer alan Satıcı iletişim bilgilerini kullanarak ve/veya Websitesi&rsquo;nde yer alan Hesabım&gt;&Uuml;r&uuml;n Sorularım &uuml;zerinden ulaştırabilirler.</p>
                <p>Alıcı, işbu S&ouml;zleşme&rsquo;yi ve &Ouml;n Bilgilendirme Formu&rsquo;nu elektronik ortamda teyit etmekle, mesafeli s&ouml;zleşmelerin akdinden &ouml;nce Satıcı tarafından Alıcı&rsquo;ya verilmesi gereken adres, siparişi verilen mal veya hizmete ait temel &ouml;zellikler, mal veya hizmetin vergiler dahil fiyatı, &ouml;deme ve teslimat ile teslimat fiyatı bilgilerini de doğru ve eksiksiz olarak edindiğini teyit etmiş olur. Alıcı&rsquo;nın, teslim edildiği esnada tahrip olmuş, kırık, ambalajı yırtılmış vb. hasarlı ve ayıplı olduğu a&ccedil;ık&ccedil;a belli olan S&ouml;zleşme konusu mal veya hizmeti kargo şirketinden teslim alması halinde sorumluluk tamamen kendisine aittir.</p>
                <p>Mal veya hizmetin tesliminden sonra Alıcı&rsquo;ya ait kredi kartının Alıcı&rsquo;nın kusurundan kaynaklanmayan bir şekilde yetkisiz kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans kuruluşunun mal veya hizmetin bedelini Satıcı&rsquo;ya &ouml;dememesi halinde, Alıcı kendisine teslim edilmiş olması kaydıyla mal veya hizmeti 3 (&uuml;&ccedil;) g&uuml;n i&ccedil;inde Satıcı&rsquo;ya iade etmekle y&uuml;k&uuml;ml&uuml;d&uuml;r. Bu halde teslimat giderleri Alıcı&rsquo;ya aittir.</p>
                <p>SATICI&rsquo;NIN BEYAN VE TAAHH&Uuml;TLERİ</p>
                <p>Satıcı, S&ouml;zleşme konusu mal veya hizmetin t&uuml;ketici mevzuatına uygun olarak, sağlam, eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri ve kullanım kılavuzları ile Alıcı&rsquo;ya teslim edilmesinden sorumludur.</p>
                <p>Satıcı, m&uuml;cbir sebepler veya nakliyeyi engelleyen olağan&uuml;st&uuml; durumlar nedeni ile s&ouml;zleşme konusu mal veya hizmeti s&uuml;resi i&ccedil;inde teslim edemez ise, durumu &ouml;ğrendiği tarihten itibaren 3 (&uuml;&ccedil;) g&uuml;n i&ccedil;inde Alıcı&rsquo;ya bildirmekle y&uuml;k&uuml;ml&uuml;d&uuml;r.</p>
                <p>S&ouml;zleşme konusu mal veya hizmet, Alıcı&rsquo;dan başka bir kişiye teslim edilecek ise, teslim edilecek kişinin teslimatı kabul etmemesinden Satıcı sorumlu tutulamaz.</p>
                <p>CAYMA HAKKI</p>
                <p>Alıcı, hi&ccedil;bir hukuki ve cezai sorumluluk &uuml;stlenmeksizin ve hi&ccedil;bir gerek&ccedil;e g&ouml;stermeksizin, mal satışına ilişkin işlemlerde teslimat tarihinden itibaren, hizmet satışına ilişkin işlemlerde satın alma tarihinden itibaren 14 (on d&ouml;rt) g&uuml;n i&ccedil;erisinde cayma hakkını kullanabilir. Alıcı, malın teslimine kadar olan s&uuml;re i&ccedil;inde de cayma hakkını kullanabilir.</p>
                <p>Alıcı, cayma hakkını markaxd.com&rsquo;a giriş yaparak markaxd.com&rsquo;da yer alan Hesabım&gt;Mevcut Sipariş&gt;Siparişlerim &uuml;zerinden "İade Et" bağlantısına tıklayarak kullanabilir. Alıcı&rsquo;nın ilgili sayfada yer alan iade talep formunu doldurup satıcının iade adres bilgilerini alarak, cayma hakkını kullandığı tarihten itibaren 10 (on) g&uuml;n i&ccedil;inde malı geri g&ouml;ndermesi gerekmektedir.Lakin &ouml;zel &uuml;retim &uuml;r&uuml;nlerin iadesi olamaz,&uuml;retici tarafından &uuml;retilen &uuml;r&uuml;n&uuml;n sorunlu olması dahilinde &uuml;retici firma sorunu d&uuml;zeltmekle y&uuml;k&uuml;ml&uuml;d&uuml;r. Mal ile beraber faturasının, malın kutusunun, ambalajının, varsa standart aksesuarları, mal ile birlikte hediye edilen diğer &uuml;r&uuml;nlerin de eksiksiz ve hasarsız olarak iade edilmesi gerekmektedir. Alıcı, cayma s&uuml;resi i&ccedil;inde malı, işleyişine, teknik &ouml;zelliklerine ve kullanım talimatlarına uygun bir şekilde kullandığı takdirde meydana gelen değişiklik ve bozulmalardan sorumlu değildir. Cayma hakkının kullanılmasına ilişkin detaylı bilgi markaxd.com&rsquo;da yer alan https://www.markaxd.com/genel/urun-iadesi- sayfasında yer almaktadır.</p>
                <p>Alıcı iade edeceği malı Satıcı&rsquo;ya &Ouml;n Bilgilendirme Formu&rsquo;nda belirtilen Satıcı&rsquo;nın anlaşmalı kargo şirketi ile g&ouml;nderdiği s&uuml;rece, iade kargo bedeli Satıcı&rsquo;ya aittir. Alıcı&rsquo;nın iade edeceği malı &Ouml;n Bilgilendirme Formu&rsquo;nda belirtilen Satıcı&rsquo;nın anlaşmalı kargo şirketi dışında bir kargo şirketi ile g&ouml;ndermesi halinde, iade kargo bedeli ve malın kargo s&uuml;recinde uğrayacağı hasardan Satıcı sorumlu değildir.</p>
                <p>Alıcı&rsquo;nın cayma hakkını kullanmasından itibaren 14 (on d&ouml;rt) g&uuml;n i&ccedil;erisinde (malın Satıcı&rsquo;nın iade i&ccedil;in belirttiği taşıyıcı aracılığıyla geri g&ouml;nderilmesi kaydıyla), Alıcı&rsquo;nın ilgili mal veya hizmete ilişkin Satıcı veya Aracı Hizmet Sağlayıcı&rsquo;ya yaptığı t&uuml;m &ouml;demeler Alıcı&rsquo;ya satın alırken kullandığı &ouml;deme aracına uygun bir şekilde ve t&uuml;keticiye herhangi bir masraf veya y&uuml;k&uuml;ml&uuml;l&uuml;k getirmeden ve tek seferde iade edilecektir. Kredi kullanılarak yapılan alışverişlerde, cayma hakkının usul&uuml;ne uygun kullanıldığı durumlarda &uuml;r&uuml;n bedeli kredi ile ilişkili hesaba iade edilecektir.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>"Kargoya Verildi&rdquo; stat&uuml;s&uuml;ndeki siparişler kargo teslimat aşamasında iptal edilememektedir.</p>
                <p>&nbsp;"Kargoya Verildi" stat&uuml;s&uuml;ndeki siparişler i&ccedil;in, M&uuml;şterilerimizin &uuml;r&uuml;n&uuml;n kutusunu a&ccedil;madan kargoyu kargo firmasına iade etmesi gerekmektedir. 9.1. maddedeki h&uuml;k&uuml;mler saklıdır.</p>
                <p>MARKAXD OTOMOTİV GROUP , İŞBU MESAFELİ SATIŞ S&Ouml;ZLEŞMESİ&rsquo;NİN TARAFI OLMADIĞINDAN ALICI&rsquo;NIN, MARKAXD OTOMOTİV GROUP &lsquo;AKARŞI CAYMA HAKKI YOKTUR VE MARKAXD &rsquo;DEN BEDEL İADESİ VEYA &Uuml;R&Uuml;N DEĞİŞİMİ TALEP EDEMEZ.</p>
                <p>CAYMA HAKKININ KULLANILAMAYACAĞI HALLER</p>
                <p>Mevzuat uyarınca Alıcı aşağıdaki hallerde cayma hakkını kullanamaz:</p>
                <p>Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve Satıcı&rsquo;nın kontrol&uuml;nde olmayan mal veya hizmetlere ilişkin s&ouml;zleşmelerde (&ouml;rn. ziynet, altın ve g&uuml;m&uuml;ş kategorisindeki &uuml;r&uuml;nler); Alıcı&rsquo;nın istekleri veya a&ccedil;ık&ccedil;a onun kişisel ihtiya&ccedil;ları doğrultusunda hazırlanan, niteliği itibariyle geri g&ouml;nderilmeye elverişli olmayan ve &ccedil;abuk bozulma tehlikesi olan veya son kullanma tarihi ge&ccedil;me ihtimali olan malların teslimine ilişkin s&ouml;zleşmelerde; Tesliminden sonra ambalaj, bant, m&uuml;h&uuml;r, paket gibi koruyucu unsurları a&ccedil;ılmış olan mallardan; iadesi sağlık ve hijyen a&ccedil;ısından uygun olmayanların teslimine ilişkin s&ouml;zleşmelerde; Tesliminden sonra başka &uuml;r&uuml;nlerle karışan ve doğası gereği ayrıştırılması m&uuml;mk&uuml;n olmayan mallara ilişkin s&ouml;zleşmelerde; Alıcı tarafından ambalaj, bant, m&uuml;h&uuml;r, paket gibi koruyucu unsurları a&ccedil;ılmış olması şartıyla maddi ortamda sunulan kitap, ses veya g&ouml;r&uuml;nt&uuml; kayıtlarına, yazılım programlarına ve bilgisayar sarf malzemelerine ilişkin s&ouml;zleşmelerde; Abonelik s&ouml;zleşmesi kapsamında sağlananlar dışında gazete, dergi gibi s&uuml;reli yayınların teslimine ilişkin s&ouml;zleşmelerde; Belirli bir tarihte veya d&ouml;nemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-i&ccedil;ecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine ilişkin s&ouml;zleşmelerde; Bahis ve piyangoya ilişkin hizmetlerin ifasına ilişkin s&ouml;zleşmelerde; Cayma hakkı s&uuml;resi sona ermeden &ouml;nce, t&uuml;keticinin onayı ile ifasına başlanan hizmetlere ilişkin s&ouml;zleşmelerde; ve Elektronik ortamda anında ifa edilen hizmetler ile t&uuml;keticiye anında teslim edilen gayri maddi mallara ilişkin s&ouml;zleşmelerde (hediye kartı, hediye &ccedil;eki, para yerine ge&ccedil;en kupon ve benzeri).</p>
                <p>Mesafeli S&ouml;zleşmeler Y&ouml;netmeliği&rsquo;nin kapsamı dışında bırakılmış olan mal veya hizmetler (Satıcı&rsquo;nın d&uuml;zenli teslimatları ile Alıcı&rsquo;nın meskenine teslim edilen gıda maddelerinin, i&ccedil;eceklerin ya da diğer g&uuml;nl&uuml;k t&uuml;ketim maddeleri ile seyahat, konaklama, lokantacılık, eğlence sekt&ouml;r&uuml; gibi alanlarda hizmetler) bakımından cayma hakkı kullanılamayacaktır.</p>
                <p>Tatil kategorisinde satışa sunulan bu t&uuml;r mal ve hizmetlerin iptal ve iade şartları her Satıcı&rsquo;nın uygulama ve kurallarına tabidir.</p>
                <p>CAYMA HAKKININ S&Uuml;RESİ:</p>
                <p>1.T&uuml;keticinin onayı ile sipariş se&ccedil;imleri doğrultusunda ifasına başlanan&nbsp;&ouml;zel &uuml;retim&nbsp;&uuml;r&uuml;nlerin (&ouml;rn: kumaş kaplı &uuml;r&uuml;nler,deri &uuml;r&uuml;nleri) s&ouml;zleşmelerinde cayma hakkı kullanılamaz.</p>
                <p>2.Cayma hakkının kullanılması i&ccedil;in&nbsp;2 (iki) g&uuml;nl&uuml;k s&uuml;re i&ccedil;inde SATICI' ya eposta ile yazılı bildirimde bulunulması ve &uuml;r&uuml;n&uuml;n işbu s&ouml;zleşmede d&uuml;zenlenen "Cayma Hakkı Kullanılamayacak &Uuml;r&uuml;nler" h&uuml;k&uuml;mleri &ccedil;er&ccedil;evesinde kullanılmamış olması şarttır.</p>
                <p>UYUŞMAZLIKLARIN &Ccedil;&Ouml;Z&Uuml;M&Uuml;</p>
                <p>Kanun ve Mesafeli S&ouml;zleşmeler Y&ouml;netmeliği kapsamında satılan mal veya hizmete ilişkin sorumluluk bizzat Satıcı&rsquo;ya aittir. Bununla birlikte Alıcılar, satın aldıkları mal ve hizmetlerle ilgili şik&acirc;yetlerini Satıcılar&rsquo;a doğrudan veya MARKAXD OTOMOTİV GROUP &uuml;zerinden iletecektir. Şikayetin Markaxd&rsquo;e iletilmesi halinde MARKAXD ile sorunun &ccedil;&ouml;z&uuml;lmesi i&ccedil;in m&uuml;mk&uuml;n olan t&uuml;m desteği sağlayacaktır.</p>
                <p>İş bu Mesafeli Satış S&ouml;zleşme ile ilgili &ccedil;ıkacak ihtilaflarda; her yıl G&uuml;mr&uuml;k ve Ticaret Bakanlığı tarafından ilan edilen değere kadar Alıcı&rsquo;nın yerleşim yerindeki &uuml;r&uuml;n&uuml; satın aldığı veya ikametg&acirc;hının bulunduğu yerdeki İl veya İl&ccedil;e T&uuml;ketici Sorunları Hakem Heyetleri, s&ouml;z konusu değerin &uuml;zerindeki ihtilaflarda ise T&uuml;ketici Mahkemeleri yetkilidir.</p>
                <p>MAL/HİZMETİN FİYATI</p>
                <p>Malın peşin veya vadeli satış fiyatı, sipariş formunda yer almakla birlikte, sipariş sonu g&ouml;nderilen bilgilendirme e-postası ve &uuml;r&uuml;n ile birlikte m&uuml;şteriye g&ouml;nderilen fatura i&ccedil;eriğinde mevcut olan fiyattır. Satıcı veya MARKAXD OTOMOTİV GROUP tarafından yapılan indirimler, kuponlar, kargo &uuml;creti ve sair uygulamalar satış fiyatına yansıtılır.</p>
                <p>TEMERR&Uuml;T HALİ VE HUKUKİ SONU&Ccedil;LARI</p>
                <p>Alıcı&rsquo;nın, kredi kartı ile yapmış olduğu işlemlerde temerr&uuml;de d&uuml;şmesi halinde kart sahibi bankanın kendisi ile yapmış olduğu kredi kartı s&ouml;zleşmesi &ccedil;er&ccedil;evesinde faiz &ouml;deyecek ve bankaya karşı sorumlu olacaktır. Bu durumda ilgili banka hukuki yollara başvurabilir; doğacak masrafları ve vek&acirc;let &uuml;cretini Alıcı&rsquo;dan talep edebilir ve her koşulda Alıcı&rsquo;nın borcundan dolayı temerr&uuml;de d&uuml;şmesi halinde, Alıcı&rsquo;nın borcu gecikmeli ifasından dolayı Satıcı&rsquo;nın uğradığı zarar ve ziyandan Alıcı sorumlu olacaktır.</p>
                <p>BİLDİRİMLER VE DELİL S&Ouml;ZLEŞMESİ</p>
                <p>İşbu S&ouml;zleşme tahtında taraflar arasında yapılacak her t&uuml;rl&uuml; yazışma, mevzuatta sayılan zorunlu haller dışında, Websitesi&rsquo;nde yer alan Hesabım&gt;&Uuml;r&uuml;n Sorularım veya elektronik posta aracılığıyla yapılacaktır. Alıcı, işbu S&ouml;zleşme&rsquo;den doğabilecek ihtilaflarda Satıcı&rsquo;nın ve MARKAXD OTOMOTİV GROUP resmi defter ve ticari kayıtlarıyla, kendi veritabanında, sunucularında tuttuğu elektronik bilgilerin ve bilgisayar kayıtlarının, bağlayıcı, kesin ve m&uuml;nhasır delil teşkil edeceğini, bu maddenin Hukuk Muhakemeleri Kanunu&rsquo;nun 193. maddesi anlamında delil s&ouml;zleşmesi niteliğinde olduğunu kabul, beyan ve taahh&uuml;t eder.</p>
                <p>Y&Uuml;R&Uuml;RL&Uuml;K</p>
                <p>14 (on d&ouml;rt) maddeden ibaret bu S&ouml;zleşme, taraflarca okunarak, 11/09/2019 tarihinde, Alıcı tarafından elektronik ortamda onaylanmak suretiyle akdedilmiş ve y&uuml;r&uuml;rl&uuml;ğe girmiştir.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>

        </div>
    </section>
    </div>
</template>
<script>
  export default {
    head: {
      title :'Mesafeli Satış Sözleşmesi | MarkaXD Oto Paspas',
      link: [

      ],
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }
  }
</script>
