<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">

                    </div>
                </div>
            </div>
        </section>
        <section class="cat_product_area p_120">
            <div class="container">
                <h3>Odeme, Teslimat ve İade Şartlari</h3>
                <p>1) Banka Havalesi veya EFT (Elektronik Fon Transferi) yaparak<br /> QNB  hesabimiza (TL) yapabilirsiniz.</p>
                <p>2) Sitemiz üzerinden kredi kartlariniz ile<br /> Her türlü kredi kartiniza online tek odeme ya da anlaşmali banka kartlarina vade farki ile online taksit imkânlarimizdan yararlanabilirsiniz. Online odemelerinizde siparişiniz sonunda kredi kartinizdan tutar çekim işlemi gerçekleşecektir. Muhtemel sipariş iptali veya stok sorunlari nedeniyle sipariş iptallerinde kredi kartiniza para iadesi ilgili bankanin iade süreci içerisinde gerçekleşir. Kaşeniz, İptal işlemlerinde İade sürecini azami 3 iş günü içerisinde yapacaktir.</p>
                <p>3) Sipariş Bedeli İadesi<br /> Siparişlerinizin olasi sebeplerle iptali durumunda; Kaşeniz – MARKXD ile  azami üç iş günü içerisinde ürün bedelini hesabiniza ve/veya kredi kartiniza iade eder. Ancak, banka hesap bilgilerinizi ve/veya kredi karti bilgilerinizi dogru ve eksiksiz olarak şirketimiz finans yetkililerine bildirmeniz gerekmektedir. Kredi kartina yapilan iadelerde ilgili bankanin iade prosedürlerine gore geri iade edilen ücretin kredi kartinizda gorünmesi 15 iş gününe kadar uzayabilir.</p>
                <p>4) Teslimat<br /> Satişini yaptigimiz ürünlerin tümü imalata dayali olsada sipariş etmiş oldugunuz ürünleri 24 saat içerisinde kargoya teslim etmeye gayret ediyoruz. Temini zaman alan ürünler için kargo teslim süresi ürün detayinda belirtildigi gibi 3 iş günüdür. Gecikmesi muhtemel teslimat durumunda size bilgi verilecektir.<br /> Ürün teslimatinin aksamadan gerçekleştirilebilmesi için lütfen gün içinde bulundugunuz yerin adresini teslimat adresi olarak bildiriniz.<br /> Talepleriniz sipariş sonunda belirlemiş oldugunuz teslimat tipine gore hazirlanmak üzere işleme alinacaktir. İstanbul merkezli şirketimizden ürünler Yurtiçi Kargo firmasiyla gonderilecektir. Siparişleriniz onaylandiktan sonra en geç 3 (üç) iş günü sonunda Kargo firmasina teslim edilir. Stok yada imalat problemleri olmasi durumunda tarafiniza bilgi verilerek süre uzatilabilir yada isteginiz dogrultusunda siparişiniz iptal edilebilir.<br /> Müşteri temsilcimize danişarak degişik teslimat şartlari konusunda gorüşebilirsiniz. Ayrica kargo teslimatlari sadece Türkiye için geçerlidir.</p>
                <p><strong>Kargo personeli teslimat adresine bir kez gitmektedir. Firmamiza iletilen teslimat adresinin yanliş/eksik oluşu, teslimat adresinde bulunmama vb. sebeplerle teslim edilemeyen kargo, ilgili şubede 3 iş günü bekletilir. Bu süreçte kargonuzu şubeden teslim almaniz gerekir. Şubeden teslim alinmayan kargo tarafimiza geri gonderilmektedir. Bu durumda kargo, müşteri ile irtibata geçip taşima ücreti alicidan olmak üzere tekrar gonderilir.</strong></p>
                <p><strong>Kargolar hafta sonlari ve resmi tatillerde dagitim yapmamaktadirlar.</strong></p>
                <p><strong> Kargoda yaşanabilecek aksaklik ve gecikmelerden firmamiz sorumlu tutulamaz.</strong></p>
                <p>5) Odeme Takibi<br /> Soz konusu sistem herhangi bir sorun nedeni ile işlemi gerçekleştiremiyorsa odeme sayfasi sonucunda ziyaretçimiz bu durumdan haberdar edilmektedir.<br /> Belirtilen adreste herhangi bir hata durumunda teslimati gerçekleşemeyen sipariş ile ilgili olarak siparişi veren ile baglanti kurulmaktadir.<br /> Ziyaretçimiz tarafindan belirtilen e-posta adresinin geçerliligi siparişin aktarilmasini takiben gonderilen otomatik e-posta ile teyit edilmektedir.<br /> Teslimatin gerçekleşmesi konusunda müşteri kadar kredi karti sistemini kullandigimiz bankaya karşi da sorumlulugumuz soz konusudur.</p>
                <p>Lütfen dikkat ediniz!<br /> Sevkiyat sirasinda zarar gordügünü düşündügünüz paketleri, teslim aldiginiz firma yetkilisi onünde açip kontrol ediniz. Eger üründe herhangi bir zarar oldugunu düşünüyorsaniz kargo firmasina tutanak tutturarak ürünü teslim almayiniz.<br /> Ürün teslim alindiktan sonra kargo firmasinin gorevini tam olarak yerine getirdigi kabul edilmektedir.<br /> Ürün hasarli ise: Hazirlamiş oldugunuz tutanagi en kisa zamanda 0 (212) 807 27 75 numarali bildirin ve durumu info@markaxd.com mail adresine bildiriniz.<br /> Bu işlemleri gerçekleştirdiginiz takdirde paketinizle ilgili çalişmalara başlayarak, en kisa zamanda teslimatin tekrarlanmasini saglayacagiz.</p>
                <p>6) Satişini yaptigimiz ürünlerin tamami imalata dayali ve üretimi gerçekleştirildikten sonra iade durumlarinda tekrardan satişi yapilamayacak ürünlerdir. Bu sebeple sipariş iptali ancak imalat oncesi gerçekleştirilebilmektedir. İmalat sonrasi yapilacak iptal talepleri geçersiz olacaktir. Size ulaşan ürün yada sunulan hizmette problem oldugunu düşünüyorsaniz durumu info@markaxd.com mail adresi üzerinden, mümkünse problemi/kusuru belirten bir fotograf ile bize iletiniz. Problemin tespitinin ardindan ürün/hizmette ki sorun firmamizdan ve imalattan kaynakli ise stok durumuna gore azami 2 (iki) iş günü içerisinde yeni ürünü adresinize ücretsiz olarak kargolayacaktir.</p>
                <p> </p>
                <p> </p>
            </div>
        </section>
    </div>
</template>
<script>
  export default {
    head: {
      title :'Ödeme Satış ve İade Koşulları | MarkaXD Oto Paspas',
      link: [

      ],
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }
  }
</script>
