<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                    </div>
                </div>
            </div>
        </section>
        <!--================Checkout Area =================-->
        <section class="checkout_area p_120">
            <div class="container">
                <div class="billing_details">
                    <div class="row">
                        <div class="address-area col-lg-8">
                            <div class="col-md-12">
                                <div  class=" e-large col-md-3" style="float: left;">
                                    <a href="javascript:;" @click="paymentType('creditCart')" :class="'success-border genric-btn'+ (selectedPaymentType === 'creditCart' ? ' danger' : '')+' editAddress'">Kredi Kartı</a>
                                </div>
                                <div  class=" e-large col-md-3" style="float: left">
                                    <a href="javascript:;" @click="paymentType('paymentDoor')" :class="'success-border genric-btn'+ (selectedPaymentType === 'paymentDoor' ? ' danger' : '')+' editAddress'">Kapıda Ödeme</a>
                                </div>
                                <div  class=" e-large col-md-3" style="float: left">
                                    <a href="javascript:;" @click="paymentType('moneyTransfer')" :class="'success-border genric-btn'+ (selectedPaymentType === 'moneyTransfer' ? ' danger' : '')+' editAddress'">Havale</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="col-md-12" >
                                <h3></h3>
                                <paymentDoor v-if="selectedPaymentType == 'paymentDoor'"/>
                                <paymentTransfer v-else-if="selectedPaymentType == 'moneyTransfer'"/>
                                <paymentCreditCart :creditCart="creditCart" v-else-if="selectedPaymentType == 'creditCart'"/>
                            </div>
                        </div>
                        <Summary :bus="bus"/>
                        <div class="form-check">
                            <label for="contract"><font color="red">Mesafeli Satış Sözleşmesini </font></label><a href="javascript:;" @click="contractModal"> onaylıyorum.</a>
                            <input type="checkbox" name="contract" id="contract" v-model="checkContract"/>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        <modal height="auto"
               width="430"
               :scrollable="true"
               name="three-modal"
               :draggable="true"
               :classes="['v--modal', 'm-modal']">
            <div class="modal-body" >
                <div id="threeModal" ref="threeModal" v-html="threeDHTML"></div>
            </div>
        </modal>
        <modal height="auto"
               width="600"
               :scrollable="true"
               name="contract-modal"
               :draggable="true"
               :classes="['v--modal', 'm-modal']">
            <div class="modal-body">
                <div class="container-fluid">
                    <Contract/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-simple btn-sm px-3" @click="$modal.hide('contract-address')">Kapat</button>
            </div>
        </modal>
        <modal height="auto"
               width="400"
               :scrollable="true"
               name="verify-modal"
               :classes="['v--modal', 'm-modal']">
            <div class="modal-body">
                <div class="container-fluid">
                    <p>Telefonunuza gönderilen doğrulama kodunu giriniz</p>
                    <input type="text" v-model="verifyCode" placeholder="Doğrulama Kodu">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm px-3" @click="verifySms">Doğrula</button>
                <button type="button" class="btn btn-simple btn-sm px-3" @click="$modal.hide('verify-modal')">Kapat</button>
            </div>
        </modal>

      <modal height="auto"
             width="400"
             :clickToClose="false"
             :scrollable="true"
             name="loading-modal"
             :classes="['v--modal', 'm-modal']">
        <div class="modal-body">
          <div class="container-fluid text-center">
            <h4>İşleminiz tamamlanıyor. <br>Lütfen bekleyiniz..</h4>
          </div>
        </div>
      </modal>
    </div>
</template>

<script>
  import Vue from 'vue';
  import Summary from "../components/common/Summary";
  import Address from '@/components/common/Address.vue';
  import Contract from '@/components/common/Contract.vue';
  import PaymentDoor from '@/components/common/PaymentType/PaymentDoor.vue';
  import PaymentTransfer from '@/components/common/PaymentType/PaymentTransfer.vue';
  import paymentCreditCart from '@/components/common/PaymentType/PaymentCreditCart.vue';
  import axios from 'axios'

  export default {

    components:{
      PaymentDoor,
      PaymentTransfer,
      paymentCreditCart,
      Summary,
      Address,
      Contract
    },
    head: {
      title :'Ödeme Yöntemi | MarkaXD Oto Paspas',
      link: [

      ],
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    },
    data(){
      return{
        threeDHTML : null,
        bus : new Vue(),
        selectedPaymentType : 'paymentDoor',
        checkContract : false,
        verifyCode : null,
        selectedAddress : [],
        phone_number : null,
        token : null,
        creditCart: {
          cardNumber: null,
          cardHolderName: null,
          expireMonth: null,
          expireYear: null,
          cvc: null,
          registerCard: 0,
          installment:1
        },

      }
    },
    watch:{
      "checkContract": function (val) {
        return val;
      }
    },
    created(){
      if (!process.server) {
        if (this.$route.query.status && this.$route.query.status === 'failure') {
          this.$toast.error('Ödemenizde bir sorun oluştu');
        }

        if (this.$route.query.status && this.$route.query.status === 'success') {
          this.$router.push({path:'/payment-success/'+this.$route.query.order_number})
        }

        let _this = this;
        this.bus.$on('success', item => {
          _this.payment();
        });

        let cart = JSON.parse(localStorage.getItem('cart'));

        if(cart == null){
          this.$toast.error('Sepetinizde ürün bulunamadı.');
          this.$router.push({path:'/cart'})
        }

        this.selectedAddress = JSON.parse(localStorage.getItem('address'));
        if(this.selectedAddress == null){
          this.$router.push({path:'/address'})
        }

        if(this.selectedAddress &&
          this.selectedAddress.phone_number &&
          this.selectedAddress.phone_number !== null){
          this.phone_number = this.selectedAddress.phone_number;
        }
      }
    },
    methods:{
      paymentType(type){
        this.selectedPaymentType = type;
      },
      contractModal(){
        this.$modal.show('contract-modal');
      },
      payment(){
        if (this.checkContract) {
          switch (this.selectedPaymentType) {
            case "moneyTransfer":
              this.moneyTransfer();
              break;
            case "paymentDoor":
              this.paymentDoor();
              break;
            case "creditCart":
              if (this.creditCart.threeDS) {
                this.payment3D();
                break;
              }
              this.creditCartPayment();
              break;
          }
        }else{
          this.$toast.error('Lütfen Mesafeli Satış Sözleşmesini Onaylayınız.');
        }
      },

      paymentDoor(){
        this.successPayment();
        // this.sendSmsVerify();
      },

      moneyTransfer(){
        this.successPayment();
      },

      creditCartPayment(){
        this.successPayment();
      },

      payment3D(){
        let address = JSON.parse(localStorage.getItem('address'));
        let cart = JSON.parse(localStorage.getItem('cart'));

        let paymentData  = {
          address : address,
          verifyCode : this.verifyCode,
          paymentType : this.selectedPaymentType,
          cart : cart
        };

        if (this.creditCart.threeDS) {
          paymentData.paymentType = 'threeDSecure';
          paymentData.creditCart = this.creditCart;
        }

        this.$store.dispatch('state_definition/payment', paymentData)
          .then(response => {
              this.threeDHTML = atob(response.result.set);
              document.body.innerHTML = this.threeDHTML;
              document.getElementById("iyzico-3ds-form").submit();
            }
          );
      },

      successPayment(){
        this.$modal.show('loading-modal');

        let address = JSON.parse(localStorage.getItem('address'));
        let cart = JSON.parse(localStorage.getItem('cart'));

        let paymentData  = {
          address : address,
          verifyCode : this.verifyCode,
          paymentType : this.selectedPaymentType,
          cart : cart
        };

        if (this.selectedPaymentType === 'creditCart') {
          paymentData.creditCart = this.creditCart;
        }

        this.$store.dispatch('state_definition/payment', paymentData)
          .then(response => {
              this.$modal.hide('loading-modal');
              if (response.code !== 200) {
                let msg = response.message;
                if( msg === 'msg.error.user_unknown'){
                  this.$toast.error('Oturum doğrulanmadı.');
                }else
                if (msg === 'msg.error.no_cart'){
                  this.$toast.error('Sepetiniz güncel değil.');
                }else
                if(msg === 'msg.error.sms_verify_failed'){
                  this.$toast.error('Sms doğrulama başarısız.');
                }else{
                  this.$toast.error('Bilinmeyen bir hata.');
                }
              }else{
                this.$toast.success('Siparişiniz alındı...');
                this.$router.push({path:'/payment-success/'+response.result.set.order_number})
              }
            }
          ).catch(()=>{
          this.$modal.hide('loading-modal');
          this.$toast.error('Bilinmeyen bir hata.');
        });
      },

      sendSmsVerify(){
        this.$modal.show('verify-modal');
        axios.post(process.env.base_url+'/send-sms-verify',{"to": this.phone_number})
          .then(response => {
            if (response.data.code === 200){
              this.$modal.show('verify-modal');
              return true;
            }else{
              this.$toast.error('Doğrulama kodu gönderilemedi.');
              return false;
            }
          });
      },

      verifySms(){
        this.successPayment();
        /*
        axios.post(process.env.base_url+'/sms-verify',{ "phone_number": this.phone_number, "code": this.verifyCode } )
          .then(response => {
            this.token = response.data.result.set.token;

            if (response.data.code === 200){

              this.$modal.hide('verify-modal');

            }else{

              this.$toast.error(response.data.message);
              return false;
            }
          });
          */
      },
    },
    async fetch ({ store, params }) {
      await store.dispatch('state_definition/getAllCategory');
      await store.dispatch('state_definition/instagramFeed');
    }

  }
</script>
