<template>
    <div>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">

                    </div>
                </div>
            </div>
        </section>
        <!--================Login Box Area =================-->
        <section class="login_box_area p_120">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login_form_inner reg_form">
                            <h3>Kayıt Ol</h3>
                            <div class="text-danger" v-for="err in errorResponse">{{err[0]}}</div>

                            <div class="row login_form">
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" v-model="register.username" placeholder="Kullanıcı Adınız">
                                    <div class="text-danger" v-text="error.usernameErr"></div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="password" class="form-control" v-model="register.password" placeholder="Şifre">
                                    <div class="text-danger" v-text="error.passwordErr"></div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <input type="password" class="form-control" v-model="register.password_confirmation" placeholder="Tekrar">
                                    <div class="text-danger" v-text="error.password_confirmationErr"></div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <input type="email" class="form-control" v-model="register.email" placeholder="E-Posta Adresiniz">
                                    <div class="text-danger" v-text="error.emailErr"></div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="email" class="form-control" v-model="register.phone" placeholder="Telefon Numarası">
                                    <div class="text-danger" v-text="error.phoneErr"></div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" v-model="register.name" placeholder="Adınız Soyadınız">
                                    <div class="text-danger" v-text="error.nameErr"></div>
                                </div>

                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn submit_btn" @click="registerMethod">Kayıt Ol</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login_box_img">
                            <img class="img-fluid" src="~/assets/img/login.jpg" alt="MarkaXD Login">
                            <div class="hover">
                                <h4>MarkaXD Üye misiniz?</h4>
                                <p>MarkaXD üyelerine ayrıcalıklar var.</p>
                                <nuxt-link class="main_btn" to="/login">Giriş Yap</nuxt-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Login Box Area =================-->

    </div>
</template>

<script>
    export default {
        head: {
            title :'Kayıt Ol | MarkaXD Oto Paspas',
            link: [

            ],
            meta: [
                { charset: 'utf-8' },
                { name: 'viewport', content: 'width=device-width, initial-scale=1' },
            ],
        },
        data(){
            return {
                errorResponse: null,
                register : {
                    name: null,
                    username : null,
                    phone : null,
                    email: null,
                    password: null,
                    password_confirmation: null,
                },
                error: {
                    nameErr: null,
                    emailErr: null,
                    passwordErr: null,
                    password_confirmationErr: null,
                    usernameErr : null,
                    phoneErr : null
                }
            }
        },
        created(){
            if (process.client){
                this.$store.dispatch('state_auth/checkLogin').then(response =>{
                    let user = response.result && response.result.set && response.result.set.user ? response.result.set.user : null;
                    if (user)
                        this.$router.push({path:'/my-account'})
                }).catch(()=>{
                    console.log('please login!')
                })
            }

        },
        methods:{
            registerMethod(){

                this.error.usernameErr = null;
                this.error.passwordErr = null;
                this.error.nameErr = null;
                this.error.emailErr = null;
                this.error.phoneErr = null;
                this.error.passwordErr = null;

                if(this.register.username === null || this.register.username === '' ){
                    this.error.usernameErr = 'Lütfen kullanıcı adınızı giriniz.'
                }

                if(this.register.password === null || this.register.password === '' ){
                    this.error.passwordErr = 'Lütfen şifrenizi giriniz.'
                }

                if(this.register.name === null || this.register.name === '' ){
                    this.error.nameErr = 'Lütfen adınızı soyadınızı giriniz.'
                }

                if(this.register.email === null || this.register.email === '' ){
                    this.error.emailErr = 'Lütfen e-posta adresinizi giriniz.'
                }

                if(this.register.phone === null || this.register.phone === '' ){
                    this.error.phoneErr = 'Lütfen telefon numaranızı giriniz.'
                }



                if(this.register.password !== this.register.password_confirmation){
                    this.error.passwordErr = 'Şifreler Eşleşmiyor.';
                    this.error.password_confirmationErr = 'Şifreler Eşleşmiyor.'
                }


                if(this.error.usernameErr || this.error.phoneErr  || this.error.nameErr || this.error.passwordErr ){
                    return;
                }

                this.$store.dispatch('state_auth/register',{data: this.register}).then(response =>{
                    if (response.code === 200){
                        this.$toast.error('Kaydınız başarıyla oluşturulmuştur.');
                        location.reload();
                        this.$router.push({path:'/my-account'})
                    }else if (response.code === 500){
                        this.errorResponse = JSON.parse(response.message);
                    }
                }).catch(()=>{
                    console.log('please login!')
                })
            }
        },
        async fetch ({ store, params }) {
            await store.dispatch('state_definition/getAllCategory');
            await store.dispatch('state_definition/instagramFeed');
        }
    }
</script>
